* {
	margin: 0;
	padding: 0;
  }

body {
  background-color: rgb(253, 251, 251);
  }

#cabecalho {
	position: fixed;
	top: 0;
	width: 100%;
	height: 190px;
	background-color: green;
	font-family: Times New Roman, Times, serif;
  }

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 42px;
  color: white;
  }

nav {
  margin-top: 50px;
  }

nav a {
  display: block;
  text-align: left;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  margin-left: 40px;
  }

figure {
	margin-top: 210px;
	margin-left: 30px;
  }

#minha_foto {
	border-radius: 10px;
	width: 250px;
  }

section {
	margin: 40px;
  }

h2 {
	margin-left: -40px;
	margin-bottom: 30px;
  font-size: 28px;
  }

ol {
	margin: 35px;
	display: inline-block;
  }

ul {
	margin: 35px;
	display: inline-block;
  }

article {
	display: inline-block;
	margin: 10px;
	width: 385px;
	height: 180px;
	border-style: dotted;
	border-width: thin;
  }

aside {
	display: inline-block;
	margin: 10px;
	width: 385px;
	height: 100%;
	border-style: dotted;
	border-width: thin;
  }

h3 , p {
  margin: 10px;
  }

p {
  text-align: justify;
  }

table {
  margin: 10px;
	width: auto;
  }

table, th, td {
  width: max-content;
  border: 1px solid black;
  border-collapse: collapse;
  }

footer {
  margin-left: 20px;
  }