* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(253, 251, 251);
}

header {
  width: 100%;
  text-align: center;
}

section {
  text-align: center;
}

footer {
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#titulo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#minha_foto {
  width: 300px;
  margin-top: 60px;
  margin-bottom: 20px;
}

#licoes_aprendidas {
  list-style-type: decimal;
  list-style-position: inside;
}

