body {
  background-color: rgb(253, 251, 251);
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

h1 , h2 , h3 {
  margin: 0;
  padding-left: 10px;
  font-size: 22.5px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: royalblue;
  width: 100%;
  left: 0;
}

#titulo {
  text-align: center;
}

#foto {
  padding-top: 150px;
  margin: 0;
}

#minha_foto {
  width: 200px;
  padding: 10px;
  border-radius: 40%;
}

footer {
  text-align: center;
  background-color: royalblue;
}

footer a {
  color: black;
}

footer p {
  padding-top: 0;
}

#navegacao a {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

#navegacao a:link {
  color: white;
}

#navegacao a:visited {
  color: yellow;
}

#navegacao a:hover {
  color: rgb(23, 11, 197);
}

table {
  margin-left: 30px;
}

th , td {
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
}

#projects {
  margin-left: 100px;
  color: royalblue;
}

#container-sides {
  display: inline-flex;
  padding: 15px;
}

.lado-esquerdo {
  background-color: gainsboro;
  margin-left: 30px;
  width: 150%;
  padding-top: 10px;
}

.texts {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.title-learned {
  text-align: center;
}

#my-name {
  font-family: 'Lobster', cursive;
  font-size: 18px;
}
