body {
    background-color: rgb(253, 251, 251);
    margin: 0;
}

main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    color: white;
    background-color: rgb(43, 95, 165);
    margin: auto;
    height: 25px;
    padding-bottom: 5px;
    padding-top:10px;
    box-shadow: 0px 2px 3px #666666;
}

#nav_bar {
    margin: auto;
    width: 900px;
}

nav a {
    color: white;
    margin-right: 20px;
    font-weight: 900;
}
#cabecalho {
    position: fixed;
    top: 0;
    background-color: rgb(0, 77, 150);
    width: 100%;
}

#titulo {
    text-align: center;
    color: rgb(255, 255, 255);
}

#minha_foto {
    display: block;
    margin: 150px auto 20px;
    border-radius: 50%;

}

.titulo_licoes {
    font-weight: 900;
    margin-left: -25px;
    color: rgb(0, 77, 150);
}

#section_licoes {
    /* margin: auto; */
    text-align: center;
}

#section_licoes li {
    text-align: left;
}

.artigo_licoes {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

#secao_artigos {
    text-align: justify;
}

#a_trybe_e_eu {
    display: inline-block;
    width: 65%;
    margin-right: 20px;
    vertical-align: top;
}

.titulo_artigo {
    color: rgb(0, 77, 150);
}

#html_css {
    display: inline-block;
    width: 30%;
}

#rodape {
    background-color: rgb(0, 77, 150);
    height: 35px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 15px;
    margin: 0;
    color: white;

}
