body {
    background-color: rgb(253,251,251);
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 30px;
    color: #ffffff;
}

#cabecalho {
    text-align: center;
    background-color: rgb(11, 148, 23);    
}

#botao {
    font-size: 12px;
    list-style-type: none;
    text-transform: uppercase;
    text-align: left;
}
img {
    width: 10%;
    height: 10%;
}

table {
    background-color: #ffffff;
    width: 100%;
    border-spacing: 0;
    border-radius: 0px 0px 3px;
    box-shadow: 0px 2px 5px #000;
    font-size: 13px;
    margin-bottom: 30px;
}

table caption {
    background-color: #ffffff;
    text-align: left;
    padding: 30px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px -1px 3px #666666;
}

table thead th {
    text-align: left;
    font-size: 14px;
    font-weight:500;
}

table td, th {
    border-bottom: 1px solid rgba(0, 255, 0, 0.2);
    padding: 20px 0px 20px 0px;
}

tfoot {
    text-align: right;
    font-size: 12px;
    opacity: 50%;
}

tfoot td {
    padding-right: 20px;
}

tfoot td span {
    margin-right: 10px;
    margin-left: 30px;
}

tfoot td img {
    margin-left: 25px;
    height: 0.8%;
    width: 0.8%;
}

select {
    border: none;
    border-right-color: transparent;
}