body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: seagreen;
  width: 100%;
}

#minha_foto {
  width: 350px;
}

#lado-direito {
  display: inline-block;
  width: 40%;
  margin: 20px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid rgb(0, 255, 64);
  line-height: 20px;
}

#lado-esquerdo {
  display: inline-block;
  width: 40%;
  margin: 20px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid rgb(0, 255, 64);
  line-height: 20px;
}
