body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: blue;
  top: 0;
}

img {
  height: 444px;
  width: 444px;
}

article {
  background-color: lightsalmon;
  margin: auto;
  padding: auto;
  border: auto;
  float: left;
}

aside {
  float: right;
  background-color: yellow;
  margin: auto;
  padding: auto;
  border: auto;
}
