body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cabecalho {
  position: fixed;
  top: 0px;
  background-color: green;
  width: 100%;
  height: 150px;
  margin: 5px;
}
#titulo {
  color: white;
  text-align: center;
}

article p {
  line-height: 30px;
  color: blue;
  font-size: 20px;
}

aside p {
  line-height: 30px;
}

#minha_foto {
  width: 300px;
  margin-top: 160px;
  border: 1px solid black;
  border-radius: 2%;
  padding: 5px;
}
#licoes_aprendidas {
}
#licoes_a_aprender {
}
#rodape {
}

nav ul li {
  list-style-type: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tabela {
  margin-bottom: 15px;
}
.lado-esquerdo {
  border: 1px solid black;
  width: 40%;
  display: inline-block;
}
.lado-direito {
  display: inline-block;
  border: 1px solid black;
  width: 40%;
  height: 446px;
  margin-left: 5px;
  vertical-align: top;
}

.lado-direito p {
  text-align: center;
  margin-top: 25%;
}
