body {
  background-color: rgb(253, 251, 251);
  font-family: fantasy;
}

#titulo {
  color: aliceblue;
  font-size: 150px;
  text-align: center;
}

#cabecalho {
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
}

#minha_foto {
  position: absolute;
  width: 500px;
  top: 500px;
  left: 1px;
}

#licoes_aprendidas {
  position: absolute;
  font-size: 50px;
  top: 1500px;
}

nav {
  font-size: 100px;
  position: absolute;
  display: block;
  color: red;
  border: 5px blueviolet;
  padding: 50px;
}
