body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0px;
    padding: 15px;
    border: 1px solid black;
}
#minha_foto {
    border: 2px solid rgb(224, 28, 28);
    margin-top: 100px;
}
#licoes_aprendidas {
    font-family: monospace;
    color: rgb(126, 81, 81);
}
#licoes_a_aprender {
    font-family: monospace;
    color: rgb(150, 94, 94);
}
article {
    font-family: fantasy;
    color: brown;
    text-align: justify;
    width: 700px;
    display: inline-block;
}
aside {
    font-family: fantasy;
    color: brown;
    width: 500px;
    text-align: justify;
    float: right;
}
footer {
    font-family: cursive;
    color: black;
}
a:hover {
    background-color: brown;
}
