body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#cabecalho h1 {
  font-size: 30px;
  color: rgb(41, 41, 41);
  line-height: 40px;
  font-family: 'Courier New', Courier, monospace;
}

section img {
  margin: 60px 0;
}

table {
  border: 2px solid green;
}

table tr th {
  padding: 10px;
}
