body {
  background-color: rgb(253, 251, 251);
}

#cabecalho{
  top: 0px;
  position: fixed;
}

#minha_foto{
  width: 190px;
  margin-top: 90px;
}

.lado-esquerdo{
  display: inline-block;
}

.lado-direito{
  display: inline-block;
}

#rodape p{
margin-bottom: 0px;
font-weight: bold;
}

.text-content{
  border: 1px solid black;
  width: 510px;
  display: inline-block;
}

.text-content p {
  margin-top: 0px;
  font-family: monospace;
}

.aside-bar{
  border: 1px solid red;
  width: 600px;
  height: 115px;
  float: right;
  margin-right: 50px;
  font-family: monospace;
}

li {
  color: rgb(223, 71, 71);
  font-size: 14px;
  line-height: 20px;
}