body {
  max-width: auto;
  line-height: 100vm;
  background-color: rgb(253, 251, 251);
}

main {
  max-width: auto;
  min-height: auto;
  padding: 5px;
  margin: 0;
}

#cabecalho {
  background-color: rgb(4, 104, 4);
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 1px;
  height: 100px;
  margin-bottom: 15px;
}

#cabecalho h1 {
  color: aliceblue;
  text-align: center;
  font-size: 30px;
  font-family: Calibri, sans-serif;
  padding: 1px;
}

#nome {
  margin: 20px 0 0 5px;
}

#nome p {
  display: inline-block;
  margin-left: 5px;
  color: rgb(125, 178, 224);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  position: relative;
  max-width: 120px;
  margin: 0;
}

img:hover {
  margin-left: 25%;
}

.lista-ol {
  display: block;
  min-width: 100%;
  height: 230px;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(223, 238, 238);
}

ol {
  height: 200px;
  width: 40%;
  position: relative;
  left: 5px;
}

ol h2 {
  text-align: left;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
  padding: 5px;
  margin-top: 15px;
}

ol li {
  text-align: left;
  margin: 5px;
  margin-left: 20px;
  font-size: 10px;
  font-family: sans-serif, Arial;
  padding: 1px;
}

ul {
  height: 200px;
  width: 40%;
  position: absolute;
  top: 175px;
  right: 2%;
}

ul h2 {
  text-align: left;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
}

ul li {
  text-align: left;
  margin: 5px;
  margin-left: 20px;
  font-size: 10px;
  font-family: sans-serif, Arial;
  padding: 1px;
}

nav {
  margin-top: 10px;
  padding: 2px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-family: monospace;
}

nav a:hover {
  color: rgb(4, 20, 66);
  font-size: 13px;
  font-weight: 600;
  font-family: monospace;
}

.lado-esquerdo {
  margin-top: 30px;
  float: left;
  background-color: rgb(231, 247, 246);
  height: 125px;
  position: absolute;
  width: 48%;
  padding: 5px;
  font-family: sans-serif, Arial;
}

.lado-esquerdo h2 {
  text-align: center;
  font-size: 15px;
}

.lado-direito {
  margin-top: 30px;
  float: right;
  background-color: rgb(231, 247, 246);
  height: 125px;
  position: absolute;
  width: 48%;
  right: 1%;
  padding: 5px;
  font-family: sans-serif, Arial;
}

.lado-direito h2 {
  text-align: center;
  font-size: 15px;
}

table {
  margin-top: 15%;
  width: 100%;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

footer {
  background-color: rgb(4, 20, 66);
  width: 97.7%;
  height: 60px;
  position: absolute;
  bottom: 19%;
  align-items: center;
}

#rodape p {
  font-size: 12px;
  color: rgb(150, 152, 153);
  text-align: right;
  margin-right: 20px;
  align-self: center;
  margin-top: 21px;
}
