body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    position: fixed;
    top: 0px;
    border: solid 5px;
}

#minha_foto {
    display: block;
    height: 300px; 
    margin-top: 112px;   
}

a {
    display: block;
}

#licoes_aprendidas {
    display: inline-block;
}

#licoes_a_aprender {
    display: inline-block;
}

#rodape {
    margin-top: 100px;
}

table {
    margin: auto;
    padding: 30px;
    border: solid 5px;
}

article {
    line-height: 20px;
}
