body * {
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: rgb(253, 251, 251);
  line-height: 25px;
  font-size: 20px;
}

/* HEADER */
#cabecalho {
  top: 0;
  width: 1325px;
  margin: 10px;
  background-color: rgb(23, 141, 33);
  position: fixed;
}

#titulo {
  color: rgb(253, 251, 251);
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(253, 251, 251);
  margin-left: 5vh;
}

/* IMAGE */
#minha_foto {
  margin-top: 200px;
  margin-left: 35px;
  width: 250px;
  height: 220px;
  border-radius: 5px;
}

.nome a {
  font-weight: normal;
  color: rgb(6, 6, 138);
}

/* SECTION */
.lado-esquerdo {
  display: inline-block;
}

.lado-direito {
  display: inline-block;
}

.lessons-in-list h2 {
  margin-left: 6vh;
  margin-top: 10vh;
}

ol li {
  margin-left: 15vh;
  margin-right: 5vh;
}

ul li {
  list-style-type: disc;
}

/* ARTICLE */
article {
  display: inline-block;
  width: 50%;
  border: 1px dashed;
  text-align: justify;
  margin-right: 4%;
}

aside {
  width: 40%;
  display: inline-block;
  border: 1px dashed;
  text-align: justify;
}
