* {
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0;
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: rgb(236, 245, 219);
    height: 60px;
    min-width: 100%;
    z-index: 2;
}

#titulo {
    margin-left: 34%;
    background-color: rgb(236, 245, 219);
}

nav {
    background-color: rgb(236, 245, 219);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    margin-top: 60px;
    background-color: rgb(236, 245, 219);
    padding-bottom: 10px;
    margin-left: 18%;
}

nav ul li {
    background-color: rgb(236, 245, 219);
    display: inline-block;
    margin-right: 25%;
}

nav ul li a {
    color: black;
    background-color: rgb(236, 245, 219);
    font-weight: 800;
    font-size: x-large;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

#minha_foto {
    width: 200px;
    margin-top: 100px;
    margin-left: 18%;
}

#licoes_aprendidas {
    display: inline-block;
    margin-left: 10%;
}

#licoes_a_aprender {
    margin-left: 10%;
    display: inline-block;
}

#link_externo {
    margin-left: 3%;
    display: inline-block;
    margin-bottom: 50px;
    vertical-align: 400%;
}

#tabela {
    border: 3px solid black;
    width: 600px;
    padding: 10px;
    margin-bottom: 40px;
    display: inline-block;
    margin-left: 15%;
    margin-top: 40px;
}

td:hover {
    background-color: rgb(247, 112, 112);
}

th {
    background-color: rgb(231, 238, 245);
}

th,
td {
    line-height: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.lado-esquerdo {
    font-size: 15px;
    color: teal;
    font-family: fantasy;
    line-height: 20px;
    max-width: 55%;
    text-align: justify;
    display: inline-block;

}

.lado-esquerdo h2 {
    color: black;
}

.lado-direito {
    border: 3px solid green;
    max-width: 35%;
    text-align: justify;
    padding: 6px;
    margin-left: 50px;
    display: inline-block;
}

#rodape {
    padding: 20px;
    background-color: rgb(75, 235, 75);
    color: white;
    font-weight: 800;
    margin-top: 20px;
}