body {
  background-color: rgb(253, 251, 251);
}

.style-header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgb(2, 16, 77);
  padding: 100px 800px 200px;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav {
  position: fixed;
  left: 680px;
}

.style-links {
  display: inline-flex;
  list-style-type: none;
}

li {
  margin-left: 30px;
}

img {
  width: 200px;
  position: absolute;
  left: 50px;
  top: 50px;
  border-style: double;
  border-radius: 10px;
  border-color: black;
}

.article-style {
  position: absolute;
  top: 500px;
  margin-left: 50px;
  background-color: rgb(11, 11, 218);
  border-radius: 25px;
  border-style: double;
  border-color: black;
  padding: 50px;
  color: white;
  font-size: 20px;
  font-style: italic;
  line-height: 35px;
}
