body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
    padding: 20px;
    margin: 30px;
    border: 10px solid violet;
}

#licoes_aprendidas {
    font-size: 20px;
    color: blueviolet;
    line-height: 25px;
    font-family: cursive, sans-serif;
}

.lado-esquerdo {
    position: absolute;
    width: 300px;
    margin-top: 50px;
}

.lado-direito {
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
}