* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
}

a {
  color: red;
}

.name {
  padding-top: 60px;
}
