body {
  background-color: rgb(253, 251, 251);
  font-size: 15px;
  color: darkred;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;

}

h1 {
  text-align: center;
}

#lista1 {
  list-style: none;
  position: relative;
}

#minha_foto {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
