body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0px;
    background-color: violet;
    width: 100%;
    margin-left: -8px;
    padding: 0px;
}
#cabecalho h1 {
    text-align: center;
}
#cabecalho ul {
    text-align: center;
}
#cabecalho li {
    display: inline;
    text-align: center;
    text-decoration: none;
    margin: 100px;
}
#minha_foto {
    width: 160px;
    margin-top: 120px;
    border-radius: 30%;
    margin-right: 1000px;
}
#rodape {
    text-align: center;
}
.lista {
    display: inline-block;
    margin: 30px;
}