body {
  background-color:  rgb(253, 251, 251);
}

#cabecalho {
background-color: seagreen;
width: 100%;
position: fixed;
top: 0;
}

#titulo {
  text-align: center;
}

#minha_foto{
  width: 206px;
  height: 246px;
  margin-top: 91px;
}


.main {

}

#licoes_aprendidas


