:root {
  --header-box-color: #282828;
  --header-title-color: #d9d9d9;
  --main-bg-color: #272a35;
  --header-vs-main-height: 75px;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: var(--header-title-color);
}

h2 {
  font-size: 1.17em;
}

#cabecalho {
  position: fixed;
  background-color: var(--header-box-color);
  width: 100%;
  text-align: center;
  top: 0px;
  height: var(--header-vs-main-height);
  z-index: 2;
}

#titulo {
  color: var(--header-title-color);
}


hr {
  margin: 0;
}


main {
  margin-top: var(--header-vs-main-height);
}

main div {
  height: 550px;
}

main figure {
  background-color: var(--main-bg-color);
  margin: 0px;
  padding: 30px;
  text-align: center;
}

main figure img {
  padding: 10px;
  border: thin solid;
}

.content {
  background-color: var(--main-bg-color);
  width: 60%;
  text-align: center;
  display: inline-block;
  height: 100%;
  margin-left: 50px;
}

#minha_foto {
  width: 250px;
  border-radius: 40px 20px;
}

.list {
  display: inline-block;
  width: 40%;
  text-align: start;
  vertical-align: top;

}

aside {
  display: inline-flex;
  width: 25%;
  background-color: var(--main-bg-color);
  text-align: center;
  height: 100%;
  margin-left: 90px;
  vertical-align: top;

}

aside p {
  padding: 0px 40px;
  text-align: start;
}

aside h2 {
  padding: 0px 40px;
}

aside div {
  height: auto;
  margin-top: auto;
}

article {
  margin: 0px auto;
  width: 80%;
  padding: 20px;
  text-align: start;

}

article p {
  margin: 0px;

}

#rodape {
  background-color: var(--header-box-color);
  text-align: center;
  height: 100px;
}

#rodape p {
  display: inline-block;
  margin: 0px;
  font-size: 1.3em;
  vertical-align: middle;
}

.footer-info {
  height: 100%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

hr {
  margin: 0;
}


.img-foot-section {
  position: relative;
  margin: 0px 20px;
  bottom: 75px;
  left: 40%;
}

.img-foot-section img {
  width: 50px;
  height: 50px;
}
