*{
    margin: 0px;
    padding: 0px;
    border: 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    background-color: aquamarine;
    position: fixed;
    top: 0px;
    text-align: center;
    width: 100%;
 
}
#minha_foto{
    width: 20%;    
}
.links{
    list-style: none;
}
h1{
    margin-left: auto;
}
.topo{
    margin-top: 80px;
}