*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(253, 251, 251);
  border: 1px solid rgb(7, 105, 20);
  height: 768px;
  max-width: 1366px;
  max-height: 768px;
  color: rgb(18, 77, 10);
}
#cabecalho{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid red;
  text-align: center;
  color: azure;
  padding: 1%;
  background-color: darkolivegreen;
}
#minha_foto{
  position: relative;
  float: left;
  margin-top: 50px;
  margin-left: 5px;
  width: 20%;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 2px 4px 2px rgba(7, 105, 20, 0.3);
}
#licoes_aprendidas #licoes_a_aprender{
  margin-left: 35px;
}
ol, ul{
  margin-top: 65px;
  margin-left: 3%;
  display: inline-block;
  float: left;
  position: relative;
}
article, aside{
  clear: both;
  margin: 1.5%;
}
#rodape{
  clear: both;
  position: relative;
  bottom: 0px;
  vertical-align: bottom;
  text-align: center;
  color: azure;
  padding: 1%;
  background-color: darkolivegreen;
  font-size: 0.65em;
}