body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 150px;
    top: 0px;
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
}

#minha_foto {
    margin-top: 150px;
    width: 300px;
    height: 300px;
    padding-top: 15px;
    padding-left: 20px;
}
 p {
     padding-left: 20px;
     margin-top: 0px;
 }