/* * {
    margin: 0;
    padding: 0;
} */

body {
  background-color: rgb(253, 251, 251);
  font-family: 'Courier New', Courier, monospace;
}

#cabecalho {
  position: fixed;
  top: 0px;
  background-color: green;
}

#titulo {
  color: #fff;
  font-weight: 700;
}

#minha_foto {
    position:absolute;
    top: 100px;
    width: 120px;
    border-radius: 50%;
}

#licoes_aprendidas {
    position: absolute;
    top: 300px;
}

#licoes_a_aprender {
    position: absolute;
    top:300px;
    left: 200px;
}

#rodape {
    position: absolute;
    top: 1100px;
}
/* 
#link {
    position: absolute;
    top: 270px;
    left: 25px;
    font-size: 15px;
} */

.lado-esquerdo {
    position: absolute;
    width: 300px;
    top: 550px;
    line-height: 25px;
}

.lado-direito{
    position: absolute;
    width: 300px;
    top: 550px;
    left: 400px;
    line-height: 25px;
}

#tabela{
    position:absolute ;
    top: 950px;
    
}

table, th, td {
    border: 1px solid black;
}