body {
  background-color: rgb(253, 251, 251);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(160, 255, 191);
  display: inline;
  width: 100%;
  text-align: center;
}

#cabecalho ul li {
  list-style-type: none;
  margin-right: 600px;
}

#main {
  margin-top: 20px;
  margin-bottom: 200px;
}

#minha_foto {
  display: inline-block;
  margin-top: 140px;
}

#rodape a {
  text-decoration: none;
  color: black;
}

#rodape {
  margin: 15px;
}

#rodape a:hover {
  color: #cccccc;
}

.lado-esquerdo {
  width: 60%;
  margin: 15px;
  float: left;
}

.lado-direito {
  text-align: justify;
  float: right;
  width: 30%;
  font-family: monospace;
  font-size: small;
  margin: 15px;
}

