body {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

#cabecalho h1 {
  margin-left: 50px;
  margin-top: 30px;
  float: left;
  font-size: 25px;
  height: 40px;
}

strong {
  color: rgb(32, 107, 83);
}

.menu ul {
  list-style: none;
  float: right;
  margin-top: 35px;
  margin-right: 80px;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 15px;
}

.menu ul li a:hover {
  background-color: rgb(32, 107, 83);
  color: white;
}

.minha-foto {
  max-width: 380px;
  text-align: center;
}

#minha_foto {
  margin-top: 150px;
  border-radius: 100%;
  width: 120px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.5);
}

.minha-foto p {
  line-height: 5px;
  color: rgb(68, 68, 68);
  font-weight: 900;
}

.listas {
  width: 300px;
  margin-left: 30px;
  padding-left: 10px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

.listas ul li , .listas ol li {
  color: rgb(68, 68, 68);
  font-weight: 900;
}

#licoes_aprendidas {
  margin-top: 50px;
  width: 300px;
  padding: 30px;
}

#licoes_a_aprender {
  margin-top: 50px;
  width: 300px;
  margin-right: 300px;
  padding: 30px;
}

.lado-esquerdo {
  float: left;
  width: 400px;
  text-align: center;
  margin-top: -540px;
  margin-left: 400px;
  padding: 30px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

.lado-direito {
  float: right;
  height: 170px;
  width: 400px;
  margin-top: -540px;
  text-align: center;
  margin-right: 100px;
  padding: 30px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

.lado-esquerdo h2 , .lado-direito h2 {
  color: rgb(32, 107, 83);
}

table {
  clear: both;
  float: right;
  margin-right: 250px;
  margin-top: -220px;
}

table th , td {
  padding: 10px;
  border: 1px solid silver;
  width: 150px;
}

#rodape {
  text-align: center;
  margin-top: 150px;
  padding-top: 80px;
  height: 80px;
  background-color: rgb(32, 107, 83);
}

#rodape a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#rodape a:hover {
  text-decoration: underline;
  color: aliceblue;
}
