body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    position: fixed;
    top: 0px;
    background-color: #191970;
    width: 100%;
}

#minha_foto{
width: 160px;
}
#primeira_lista{
    margin-top: 300px;
}
#licoes_a_prender{
    margin-top: 10px;
}
#rodape {
    text-align: center;
}