* {
    font-family: sans-serif;
}
body {
    background-color: rgb(253, 251, 251);
}
header {
    background-color: lightgray;
    text-align: center;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 150px;
    color: dimgray;
}
.main {
    margin-top: 40px;
}
nav {
    position: absolute;
}
img {
    width: 200px;
    border-radius: 100%;
    margin-top: 150px;
    margin-bottom: 0;
}
#licoes_aprendidas , #licoes_a_aprender {
    display: inline-block;
    font-size: 12px;
    line-height: 2;
}
#LinkTrybe {
    font-size: 12px;
    margin-left: 15px;
}
.lado-esquerdo {
    display: inline-block;
    width: 400px;
    padding: 5%;
}
.lado-direito {
    display: inline-block;
    width: 400px;
}
footer {
    font-size: small;
}