body {
  max-width: 1366px;
  max-height: 768px;
  background-color: rgb(253, 251, 251);
  border: solid 1px  rgb(252, 238, 238);
}

main {
  max-width: 1366px;
  max-height: 768px;
  border: solid 1px  rgb(252, 238, 238);
  padding: 5px;
  margin: 0;
}

#cabecalho {
  background-color: rgb(4, 104, 4);
  top: 0;
  border: solid 1px  rgb(252, 238, 238);
  border-radius: 1px;
  height: 150px;
  margin-bottom: 15px;
}

#cabecalho h1 {
  color: aliceblue;
  text-align: center;
  font-family: Calibri, sans-serif;
}

img {
  max-width: 200px;
}

img:hover {
  margin-left: 80%;
}

#licoes_a_aprender {
  list-style: none;
  width: 100%;
  height: 400px;
  padding: 10px;
  background-color: blueviolet;
}

#licoes_a_aprender .lista-ol {
  left: 0;
  background-color: aqua;
  width: 40%;
}

ol {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  padding: 5px;
  width: 45%;
  text-align: center;
  display: inline-block;
  margin-top: 0;
}

ol li {
  text-align: left;
  margin: 5px;
  margin-left: 20px;
}

#licoes_a_aprender .lista-ul {
  right: 0;
}

ul {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  padding: 5px;
  width: 45%;
  text-align: center;
  display: inline-block;
  margin-top: 0;
}

ul li {
  text-align: left;
  margin: 5px;
  margin-left: 20px;
}
