body {
    background-color: rgb(253, 251, 251);
    margin: 0;
  }

#cabecalho {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px 900px;
    top: 0px;
    position: fixed;
    border: dotted;
}

#minha_foto{
    border-radius: 10%;
    width: 250px;
}

.learning-left {
    margin-left: 60px;
    float: left;
    max-width: 35%;
    
}

learning-right {
    margin-right: 60px;
    float: right;
    max-width: 35%;
    
}


