body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    top: 0px;
    border: dashed 1px;
    
}

#minha_foto{
    width: 200px;
    margin-top: 100px;
}

#ListaOrd{
    margin-left: 270px;
    margin-top: -285px;
}

#ListaNord{
    margin-top: 50px;
}

a{
    text-decoration: none;
}

article p{
    max-width: 300px;
    margin-left: 300px;
    
}

#titleart{
    margin-left: 350px;
    
}

aside{
    position: absolute;
    margin-top: -260px;
}

aside p{
    max-width: 300px;
}
