body {
  background-color: rgb(253, 251, 251);
  margin-left: 10px;
  color: rgb(16, 56, 16);
	line-height: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titulo {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
	width: 100%;
	text-align: center;
	background-color: rgb(19, 138, 19);
	color: rgb(253, 251, 251);
}

#minha_foto {
  margin-top: 70px;
  width: 180px;
  border-radius: 50%;
}

#portfolio {
	margin: 35px;
}

.licoes {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
	font-size: 14px;
}

.lado-esquerdo, .lado-direito {
  border: 1px solid black;
  width: 500px;
  padding: 10px;
}

#principal{
	border: 1px solid black;
}

.lado-esquerdo {
	float: left;
	margin-bottom: 10px;
}

.lado-direito {
	float: right;
}

h2 {
	font-size: 20px;
	margin-top: 300px;
}

#links {
	font-size: 15px;
}

#rodape {
	text-align: center;
	font-size: 13px;
}