body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(40, 91, 95);
}

#titulo {
  text-align: center;
}

#minha_foto {
  display: block;
  width: 150px;
  margin-top: 175px;
  padding-bottom: 25px;
}

#licoes_aprendidas {
  line-height: 25px;
}

#licoes_a_aprender {
  line-height: 25px;
}

#rodape {
  background-color: rgb(40, 91, 95);
  height: 50px;
  width: 100%;
  text-align: center;
}

#rodape a {
  text-decoration: none;
  color: white;
}

#social img {
  width: 30px;
}

#secao-principal {
  border: solid 2px black;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lado-esquerdo {
  display: inline-block;
  width: 400px;
  margin: 20px;
}

.lado-direito {
  display: inline-block;
  width: 400px;
  margin: 20px;
}

#menu-principal-item {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu-principal a {
  text-decoration: none;
  color: white;
}

table tr td {
  border: solid 1px;
}
