body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 3%;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
  font-size: 20px;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

.nav a:hover {
  background-color: aliceblue;
  color: rgb(50, 167, 145);
}

.link {
  display: block;
  margin: 0 0 3% 10%;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(50, 167, 145);
  width: 100%;
  padding: 20px;
}

#titulo {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-align: center;
}

#minha_foto {
  display: inline-block;
  width: 300px;
  margin: 200px 10% 1%;
}

#table {
  border-collapse: collapse;
  margin: 2%;
}

#table table , th , td{
  border: 1px solid;
  padding: 5px;
}

.licoes {
  display: flex;
  margin-left: 1%;
}

.lado-esquerdo {
  float: left;
  width: 50%;
  border-right: 1px solid;
}

.lado-direito {
  float: right;
  width: 49%;
}

#rodape {
  text-align: center;
  margin-top: 10%;
  background-color: rgb(98, 98, 98);
  padding: 1%;
}
