body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0px;
    background-color: red;
    display: inline-block;
    width: 100%;
    left: 0px;
}
#minha_foto {
    max-width: 150px;
    border-radius: 50%;
}
#lessons_learned {
    position: relative;
    top: 250px;
}