body {
  background-color: rgb(253, 251, 251);
  padding: 100px 100px 0;
  font-family: monospace;
  width: 80%;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(108, 202, 108);
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
  z-index: 2;
}

h1 {
  text-align: center;
  line-height: 5px;
  font-family: -apple-system, sans-serif;
}

p {
  text-align: justify;
}

#minha_foto {
  width: 200px;
  margin: auto;
  padding-top: 30px;
  display: block;
  margin-bottom: 50px;
  border-radius: 50%;
}

h2 {
  color: wheat;
}

.lado-esquerdo {
  width: 40%;
  font-size: 14px;
  display: inline-block;
}

#rodape {
  margin-top: 30px;
  text-align: center;
}

.lado-direito {
  border: solid black 1px;
  width: 38%;
  display: inline-block;
  margin-left: 94px;
}

.linktrybe {
  display: block;
  margin-top: 60px;
}

li {
  text-align: justify;
  margin-left: 200px;
}

table {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
