body {
  background-color: rgb(253, 251, 251);
}

header {
  top: 0;
  position: fixed;
}

img {
  height: 444px;
  width: 444px;
}

article {
  margin: auto;
  padding: auto;
  border: auto;
  float: left;
  color: rgb(253, 251, 251);
}

ol {
  color: rgb(253, 251, 251);
}

ul {
  color: rgb(253, 251, 251);
}

aside {
  float: right;
  margin: auto;
  padding: auto;
  border: auto;
  color: rgb(253, 251, 251);
}
