body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  line-height: 25px; 
}

table td {
  display: inline-block;
}

#minha_foto {
  border-radius: 20px;
  width: 200px;
  margin-top: 100px; 
}

.lado-esquerdo , .lado-direito {
  margin: 30px 50px 40px 10px;
  padding: 5px;
  border: 5px dashed;
  width: 400px;
  display: inline-block;
}

#cabecalho {
  background-color: green;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

