* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253,251,251);
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 30px;
    color: #ffffff;
}

#cabecalho {
    text-align: center;
    background-color: rgb(11, 148, 23);
}

#botao {
    font-size: 12px;
    list-style-type: none;
    display: inline;
    text-transform: uppercase;
}
img {
    width: 150px;
    height: 200px;
}