* {
  background-color: rgb(253, 251, 251);
  top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
  background-color: seagreen;
  text-align: center;
  padding: 5px 200px;
}

#cabecalho {
  top: 0px;
  line-height: 40px;
  position: fixed;
  background-color: seagreen;
  
}

img {
  margin-top: 90px;
}

ul {
  display: inline-block;
  color: rgb(23, 66, 50);
}articl

ol {
  display: inline-block;
  color: rgb(23, 66, 50);
}

table , ul , ol , li {
  border: 1px solid black;
}

p {
  width: 350px;
  border: solid 1px;
  text-align: justify;
  padding: 10px;
  color: rgb(23, 66, 50);
}

.lado-direito {
  float: left;
  height: 300px;
}

.lado-esquerdo {
  display: inline-block;
}

#rodape {
  font-size: 10px;
}
