* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  text-align: center;
}

#minha_foto {
  width: 100px;
  border: transparent solid 1px;
  border-radius: 50%;
}

.licoes {
  margin-left: 50px;
}

ol #licoes_aprendidas {
  list-style-type: decimal;
}

.tabela td {
  padding: 20px;
}

main {
  width: 900px;
  margin: 0 auto;
}
