*{
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0px;
    background-color: black;
    margin: auto;
}

#minha_foto{
    width: 200px;
}

#licoes_aprendidas{

}

#licoes_a_aprender{

}