* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(253, 251, 251);
}

#cabecalho {
	position: fixed;
	top: 0;
	width: 100%;
	height: 150px;
	background-color: green;
	font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
	color: white;
	text-align: center;
}

figure {
	margin-top: 170px;
	margin-left: 20px;
}

#minha_foto {
	border-radius: 10px;
	width: 250px;
}
section {
	margin: 30px;
}

h2 {
	margin-left: -30px;
	margin-bottom: 30px;
}

ol {
	margin: 35px;
	display: inline-block;
}

ul {
	margin: 35px;
	display: inline-block;
}