*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
  list-style-type: none;     
}
body {
  background-color: rgb(253, 251, 251);
}
ul{
  list-style-type:none;
}

#cabecalho{
  position: fixed;
  top: 0;
  background-color: #2B9E23;
  width:100%;
  font-weight: bolder;
  border-bottom: 2px solid;
}

h1{
  font-style: italic;
   
}

nav ul {
  right: 0px;  
  top: 0px;
  text-align: justify;
  
}

li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;  
  padding:2px;
  margin-right:3px;  
  float: left; 
}

li a:hover{  
  background-color: rgb(255, 255, 255);  
}

#minha_foto{
  width: 185px;
  float: left;  
}

.foto{
  margin-top: 74px;
  margin-left: 15px;
  display: inline-block;    
}

.mylink{
  position: relative;
  text-decoration: none;
  margin: 40px;
  
   
}
.mylink:hover{
  background-color: rgb(105, 169, 226);
  padding: 0;
  
  
}
hr{
  width: 100%;
  border: solid 1px;  
}
.table{
    float: left;
  margin: 15px;
}
table td{
  padding: 8px;
  text-align: center;
  border-bottom: solid 1px;
}


.lado-esquerdo{
  
  width: 49%;
  margin-left: 15px;
  text-align: justify;
  float: left;
  text-indent: 50px; 
}

.lado-direito{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 48%;
  
  text-align: justify;
  height: 280px;
  text-indent: 50px;  
}

#licoes_aprendidas{
  margin-top: 252px;
  
}





