body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0px;
    background-color: royalblue;
    width: 100%;
    left: 0px;
}

#titulo {
    text-align: center;
}


