* {
    font-family: monospace, sans-serif;
}

body {
    background-color:  rgb(253, 251, 251);
    margin: 0;
    padding: 0;
}

#cabecalho {
    position: fixed;
    display: block;
    top: 0px;
    background-color: rgb(82, 82, 236);
    width: 100%;
}


#titulo {
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(228, 227, 227);
}

.container_img {
    margin-top: 50px;
    text-align: center;
}

#minha_foto {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 25% 0 25% 0;
}


.section-learn {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

#licoes_aprendidas {
    border: grey solid;
    padding: 50px;
}

#licoes_a_aprender {
    border: grey solid;
    padding: 40px;
}

.lado-esquerdo {
    background-color: white;
    max-width: 400px;
    border: grey solid;
    padding: 40px;
}

.section-artigo {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding: 100px;
    background-color: rgb(165, 204, 248);
    border-bottom: 10px solid #000;
}

.lado-direito {
    display: inline-block;
    background-color: white;
    border: grey solid;
    padding: 40px;
    max-width: 200px;
    max-height: 400px;
}
