body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: green;
  width: 100%;
  height: 150px;
  margin: 5px;
}

#titulo {
  color: white;
  text-align: center;
}

article p {
  line-height: 30px;
  color: black;
  font-size: 15px;
}

aside p {
  line-height: 30px;
  font-size: 15px;
}

#minha_foto {
  width: 300px;
  margin-top: 160px;
  border: 1px solid black;
  border-radius: 2%;
  padding: 5px;
}

#licoes_aprendidas {
  width: 20%;
  display: inline-block;
  margin-bottom: 15px;
}

#licoes_a_aprender {
  width: 20%;
  display: inline-block;
}

#rodape {
  text-align: center;
}

nav ul li {
  list-style-type: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tabela {
  margin-bottom: 15px;
}

.lado-esquerdo {
  border: 1px solid black;
  width: 45%;
  display: inline-block;
}

.lado-direito {
  display: inline-block;
  border: 1px solid black;
  width: 45%;
  height: 263px;
  margin-left: 5px;
  vertical-align: top;
}

.lado-direito p {
  text-align: center;
  margin-top: 10%;
}

.lado-esquerdo p {
  text-align: center;
}

.lado-direito h2 {
  text-align: center;
}

.lado-esquerdo h2 {
  text-align: center;
}
