* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

body {
  background-color: rgb(253, 251, 251);
}

.whole {
  width: 80%;
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  padding: 0 50px;
  background-color: rgb(68, 183, 203);
  width: 100%;
}

#titulo {
  font-size: 48px;
  color: white;
  text-align: center;
}

nav ul {
  text-align: right;
}

nav ul li {
  display: inline;
  margin-left: 15px;
}

.foto-perfil {
  margin-top: 160px;
  background-image: url('img/foto-perfil-bg.png');
  background-size: cover;
  background-position: center;
  background-color: rgb(64, 128, 128);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#minha_foto {
  display: none;
  width: 100%;
}

table {
  margin: 10px 0;
  border: 1px solid rgb(64, 128, 128);
}

p {
  line-height: 20px;
}

.lado-esquerdo {
  float: left;
  width: 50%;
}

.lado-direito {
  float: right;
  width: 50%;
}

footer {
  clear: both;
  text-align: center;
}
