* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

nav {
  display: block;
}


#cabecalho {
  position: fixed;
  top: 0;  
  color: #045762;
  width: 100%;
  background-color: #16c79a;
  padding: 30px;
  text-align: center;
}

#area-menu {
 padding-top: 30px;
}

#minha_foto {  
  width: 200px;
  margin-top: 160px;
  display: block;
} 

#area-menu a:link, #area-menu a:visited {
  text-decoration: none;
  color: #fff;
  padding: 8px 14px;
}

#area-menu a:hover {
  color: #045762;
  background: #fff;
  text-decoration: solid;
}

.lado-esquerdo {
  float: left;
  width: 300px;
  margin: 15px 0 0 25px;
  line-height: 1.5;
  text-align: justify;
}

.lado-direito {
  float: left;
  width: 300px;
  margin: 15px 0 0 35px;
  line-height: 1.5;
  text-align: justify;
}

#rodape {
  clear: both;
  border: 1px solid black;
}

