@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400&family=Six+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.fab {
  font-size: 2.1rem;
  color: rgb(177, 63, 63);
  margin: 30px;
}

.far {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  left: 13rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100px;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  margin-left: 150px;
  align-items: center;
  height: 100px;
}

.nav-list {
  display: flex;
  margin-right: -28px;
}

.nav-list li {
  list-style: none;
}

.navbar h1 {
  color: rgb(177, 63, 63);
  font-family: Poppins, sans-serif;
  margin: 30px 0;
  font-size: 1.5rem;
}

.landing {
  width: 100%;
  background-color: black;
  height: 100vh;
}

.landing-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  height: 100%;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  line-height: 100px;
}

.title h1 {
  color: rgb(253, 251, 251);
  font-size: 3.7rem;
  font-family: Poppins, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 130%;
}

.last-name {
  margin-left: 14rem;
  display: inline-block;
}

h2 {
  color: rgb(96, 96, 96);
  font-size: 33px;
  font-family: Merriweather, sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  margin-left: 0;
  display: inline-block;
  margin-top: -10px;
}

img {
  width: 500px;
  border-radius: 50% 0 100%;
  z-index: 1;
  box-shadow: 10px 0 40px rgb(163, 159, 159);
  margin-top: 50px;
}

.btns {
  text-align: left;
  margin-top: -15px;
}

.btn-left , .btn-right {
  text-decoration: none;
  color: white;
  border: 1px solid black;
  margin: 10px 20px 0 0;
  border-radius: 5rem;
  text-align: center;
  background-color: rgb(177, 63, 63);
  padding: 5px 25px;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin-top: 30px;
  margin-right: 25px;

}

.btn-right {
  border: 2px solid rgb(177, 63, 63);
  background-color: black;
}

.btn-right:hover {
  background-color: rgb(177, 63, 63);
  transition: 0.6s;
}

.content {
  height: 24rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lista-esquerda , .lista-direita {
  width: 250px;
  height: 250px;
  text-align: center;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: Roboto, sans-serif;
}

.depoimentos {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  margin-bottom: 70px;
}

.lado-esquerdo , .lado-direito {
  margin: 20px;
  border-radius: 6px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
}

.lado-esquerdo {
  width: 70%;
  height: 10rem;

}

.lado-direito {
  width: 30%;

}


#rodape {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(black, rgb(27, 25, 25));
  display: flex;
  justify-content: center;
  align-items: center;
}

.table , .table th {
  color: white;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 200;
}
