body {
  background-color: rgb(253, 251, 251);
}

header {
  text-align: center;
  background-color: rgb(3, 122, 9);
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px 0 40px 0;
}

header h1 {
  margin: auto;
  color: antiquewhite;
}

aside {
  width: 30%;
  float: right;
  padding-top: 70px;
}

nav {
  position: absolute;
  font-family: monospace;
  padding-top: 35px;
  padding-left: 15px;
  z-index: 1;
}

nav ul {
  padding: 0;
}

nav li {
  background-color: rgb(16, 170, 24);
  font-size: 20px;
  display: inline;
  padding: 2px 15px;
  border-radius: 5px;
}

#minha_foto {
  width: 300px;
  padding-top: 95px;
}
