*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(253,251,251);
}
#cabecalho{
  position: fixed;
  top: 0px;
  background-color: green ;
  width: 100%;
  height: 100px;
}
#titulo{
  font: 40px;
 
}

.lista-menu{
  position: absolute;
  right: 20px;
}
.lista-menu li{
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  padding: 15px;

}
footer{
  text-align: center;
  font-size: 20px;

}
footer img{
  width: 50px;
  padding: 10px;
}