body {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

#cabecalho h1 {
  margin-left: 50px;
  margin-top: 30px;
  float: left;
  font-size: 25px;
  height: 40px;
}

strong {
  color: #206B53;
}

.menu ul {
  list-style: none;
  float: right;
  margin-top: 35px;
  margin-right: 80px;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 15px;
}

.menu ul li a:hover {
  background-color: #206B53;
  color: white;
}

.minha-foto {
  margin-top: 50px;
  max-width: 150px;
  margin-left: 50px;
  margin-top: 100px;
  text-align: center;
}

.minha-foto img {
  border-radius: 100%;
  width: 120px;
}

.minha-foto p {
  line-height: 5px;
  color: #206B53;
  font-weight: 900;
}
