:root {

  --top-bottom-bg-color: rgb(40, 40, 40);

  --top-bottom-text-color: rgb(217, 217, 217);

  --text-color: rgb(38, 42, 52);

  --box-color: rgb(217, 217, 217);

  --header-vs-main-height: 75px;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  color: var(--text-color);
  line-height: 1.5;
}

h2 {
  font-size: 1.17em;
}

#cabecalho {
  position: fixed;
  background-color: var(--top-bottom-bg-color);
  width: 100%;
  text-align: center;
  top: 0;
  height: var(--header-vs-main-height);
  z-index: 2;
}

#titulo {
  color: var(--top-bottom-text-color);
}

hr {
  margin: 0;
}

main {
  margin-top: var(--header-vs-main-height);
}

main div {
  height: auto;
  text-align: center;
}

main figure {
  background-color: var(--box-color);
  margin: 0;
  padding: 30px;
  text-align: center;
}

main figure img {
  padding: 10px;
  border: thin solid;
}

.table-section , .content {
  background-color: var(--box-color);
  margin: 25px 100px;
}

.table-section table {
  margin: 0 auto;
  padding: 15px 0;
}

.table-section thead th {
  border: 1px solid rgb(153, 153, 153);
  background-color: var(--top-bottom-bg-color);
  color: var(--top-bottom-text-color);
}

.table-section tbody th , .table-section tbody td {
  text-align: start;
  border: 1px solid rgb(153, 153, 153);
  padding: 0 15px;
}

.content {
  width: auto;
  text-align: center;
}

#minha_foto {
  width: 250px;
  border-radius: 40px 20px;
}

.list {
  display: inline-block;
  width: 40%;
  text-align: start;
  vertical-align: top;
}

.lado-esquerdo , .lado-direito {
  background-color: var(--box-color);
  display: inline-block;
  width: 40%;
  padding: 20px;
  text-align: start;
  vertical-align: middle;
}

article p , aside p {
  margin: 0;
}

#rodape {
  background-color: var(--top-bottom-bg-color);
  text-align: center;
  height: 100px;
}

#rodape p {
  display: inline-block;
  margin: 0;
  font-size: 1.3em;
  vertical-align: middle;
  color: var(--top-bottom-text-color);
}

.footer-info {
  height: 100%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img-foot-section {
  position: relative;
  margin-left: auto;
  bottom: 75px;
  width: 150px;
}

.img-foot-section img {
  width: 50px;
  height: 50px;
}
