body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position:absolute;
    top: 0px;
    background-color: darkgreen;
    width: 100%;
    text-align: center;
}

img {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 40%;
    border-color: brown;
    border-style: solid;
    top: 90px;
}

#licoes_aprendidas {
    position: absolute;
    top: 300px;
    font-size: 12px;
}

#licoes_a_aprender {
    position: absolute;
    top: 300px;
    left: 320px;
    font-size: 12px;
}


#rodape {
    position: absolute;
    bottom: 0px;
    
    
}

body {
    overflow:auto;
}
article {
    position: absolute;
    left: 480px;
    top: 140px;
    width: 420px;
    font-size: 13px;    
}

a {
    display:inline-block;
    position: absolute;
    top: 299px;
    left: 97px;
    font-size: 12px;
}

#sessao2 {
    position: absolute;
    top: 150px;
}

aside {
    position: absolute;
    left: 498px;
    top: 200px;
    width: 150px;
}