body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(175, 173, 173);
  width: 100%;
  height: 100px;
}

#titulo {
  margin: 0;
  padding: 30px;
}

.imagem {
  position: relative;
  top: 120px;
  left: 30px;
}

#minha_foto {
  border-radius: 8%;
  width: 150px;
}

.lista {
  display: inline-block;
  position: relative;
  left: 30px;
  top: 120px;
  right: 100px;
  border: 1px solid;
}

#licoes_aprendidas #licoes_a_aprender {
  font-size: 18px;
}

#rodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(175, 173, 173);
  padding: 10px 0px 10px 30px;
}