#cabecalho {
  top: 0px;
  position: fixed;
  background-color: green;
  height: 120px;
  margin: auto;
  width: 100%;
}

#titulo {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.navegation a {
  color: white;
  margin-left: 7px;
}

#minha_foto {
  width: 200px;
  margin-top: 140px;
  border-radius: 5%;
  margin-left: 25px;
}

#link-minha_foto {
  margin-top: 200px;
  color: black;
  margin-left: 5px;
}

body {
  background-color: rgb(253, 251, 251);
}

#licoes_aprendidas {
  color: black;
  font-family: monospace;
  display: inline-block;
  font-size: 15px;
  font-weight: 530;
  line-height: 20px;
}

#licoes_a_aprender {
  margin-left: 10px;
  color: black;
  font-family: monospace;
  list-style: square;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.lists {
  display: inline-block;
  margin-left: 30px;
}

.lists h2 {
  text-align: left;
}

.article {
  max-width: 40%;
  display: inline-block;
  margin-left: 150px;
  background-color: cornsilk;
  padding: 20px;
}

.list-article {
  display: inline-block;
}
