body{
    background-color: rgb(253, 251, 251);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.58em;
    color:#212529;
    margin-top: 0px;
}
#cabecalho{
    top: 0px;
    background-color: #0d1b2a;
    color: #fff;
    padding: 10px;
    text-align: center;    
}

#minha_foto{
    border-radius: 50%;    
}

img{
    width: 400px;
    margin-left: 30%;
}

.listas{
    display: block;    
}

.aprendidas{
    float: left;
    margin-left:30%;    
}

.a-aprender{
    float: right;
    margin-right: 30%;
}

.lado-esquerdo{
    max-width: 40%;
    float: left;
    margin-left: 5%; 
    
   
}    

.lado-direito{
    float: right;
    max-width: 40%;
    margin-right: 5%;
    
     
}

.text-content{
    background-color: aqua;
    display: block;

}
footer{
    clear: both;
    margin-top: 100px;   
}



a {
    text-decoration: none;
    color: #58a6ff;
    font-weight: 400;
    font-weight: 700;

    /* background-color: #0d1b2a;
    padding: 10px;
    border-radius: 20px;
    color: #fff; */