
body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0px;
  width: 100%;
}
#titulo {
  text-align: center;
}
#dadosUsuario {
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.77);
}
#coluna-1 {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-right: 30px;
}
#coluna-2 {
  height: 200px;
  width: 500px;
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
}
#item-baixo {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
#item-1 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
    margin-top: 8px;
}
#item-2 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: center;
}
#item-3 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: center;
}
#minha_foto {
  height: 200px;
  border-radius: 50%;
}
#licoes_aprendidas li {
  margin: 10px;
}
