html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
}

.caixa {
  border: solid 1px rgb(3, 4, 94);
  background-color: rgb(0, 150, 199);
  color: white;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(2, 62, 138);
  text-align: center;
  color: white;
}

#navegacao {
  position: fixed;
  top: 80px;
  background-color: rgb(3, 4, 94);
  width: 100%;
  height: 40px;
}

#navegacao ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70px;
  font-size: 1.5em;
  text-align: center;
}

#navegacao ul li {
  margin: 0;
}

#navegacao ul a {
  display: inline-block;
  background-color: rgb(0, 119, 182);
  color: white;
  text-decoration: none;
  padding: 6.1px 20px;
}

#imagem_perfil span a {
  color: rgb(202, 240, 248);
}

#navegacao ul a:hover {
  background-color: rgb(14, 151, 224);
}

main {
  margin-top: 120px;
}

#imagem_perfil {
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 30px 20px;
}

#minha_foto {
  margin-top: 5px;
  width: 95%;
}

#imagem_perfil span {
  display: block;
  margin: 10px 0;
}

#licoes {
  display: inline-block;
  margin: 30px;
  line-height: 25px;
}

#licoes h1 {
  text-align: center;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
  margin-right: 10px;
}
article {
  padding: 10px 50px;
}

.lado-esquerdo {
  float: left;
  width: 400px;
}

.lado-direito {
  float: right;
  width: 200px;
}

#tabela_instrutores {
  clear: both;
}
