body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  font-size: 1.2em;
}

table {
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(9, 204, 97);
}

#titulo {
  letter-spacing: 1px;
}

#titulo_trybe {
  text-decoration: none;
  color: black;
}

#titulo_trybe:hover {
  color: azure;
}

#menu ul li {
  display: inline;
  margin: 10px;
  letter-spacing: 1px;
}

#menu ul li a {
  text-decoration: none;
  color: black;
}

#menu ul li a:hover {
  border-bottom: 1px solid azure;
  padding: 5px;
}

#minha_foto {
  width: 200px;
  height: 200px;
  margin-top: 150px;
  border-radius: 50%;
}

#section_img {
  width: 15%;
  margin: auto;
  margin-bottom: 20px;
}

.section_list {
  background-color: rgba(208, 247, 208, 0.973);
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 30px;
}

.lado-esquerdo {
  float: left;
}

.article_list {
  font-size: 0.9em;
  display: inline-block;
  margin: 15px;
  line-height: 2;
}

#licoes_aprendidas , #licoes_a_aprender {
  text-align: left;
}

.background_row {
  background: rgb(185, 183, 183);
}

.background_row , th , td {
  text-align: left;
  padding: 2px;
}

.section_aside {
  background-color: rgba(208, 247, 208, 0.973);
  width: 40%;
  text-align: center;
  padding: 15px;
  margin: 50px 30px;
}

.section_table {
  background-color: rgba(208, 247, 208, 0.973);
  width: 40%;
  text-align: center;
  padding: 15px;
  margin: 30px;
  margin-top: 0;
}

.section_article {
  background-color: rgba(208, 247, 208, 0.973);
  width: 45%;
  text-align: center;
  margin: 0 15px 15px;
}

.lado-direito {
  float: right;
}

#rodape {
  background-color: rgba(208, 247, 208, 0.973);
  padding: 20px;
  text-align: right;
  clear: both;
}
