* { 
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#cabecalho {
  position: fixed;
  top: 0px;  
  padding: 25px 2%;
  background-color: #036b52;
  width: 100vw;
  text-align: center;
}

#cabecalho h1{
  color:rgb(253, 251, 251);
  margin-bottom: 25px;
}

#cabecalho li{
  display: inline-block;
  margin-right: 40px;
}

#cabecalho a{
  text-decoration: none;
  color: rgb(253, 251, 251);
}

#cabecalho a:hover{
  background-color: #16856b;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
}

main{
  margin: 200px  2%  50px;
}

#minha_foto {
  width: 200px;
}



