body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0px;
    position: fixed;
    background-color: seagreen;
    padding: 10px 45%;

}

#minha_foto {
    width: 300px;
    position: relative;
    display: inline-block;
    left: 500px;
    border-radius: 50%;
}

article {
    position: relative;
    width: 50%;
    top: 60px;
    margin: 80px 10px;
    text-align: center;
}

section {
    text-align: center;
    width: 30%;
    position: relative;
    bottom: 200px;
}

ul, ol {
    display: inline-block;   
}

