body {
  background-color: rgb(253, 251, 251);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: black;
  font-size: 36px;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  margin-top: 15px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  border: 0;
  padding: 0%;
  margin: 0%;
  margin-right: 40px;
}

a:hover{
  font-weight: 600;
  color: #A5A58D;
}
a {
  color: black;
  text-decoration: none;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-image:linear-gradient(#6B705C, rgb(253, 251, 251));
}

#minha_foto {
  overflow: hidden;
  height: 250px;
  margin: 100px 0px 0px 120px;
  border: 20px solid #CB997E;
  border-radius: 40%;
  display: block;
}

#listas {
  display: inline-block;
  width: 50%;
  margin-left: 100px;
  line-height: 25px;
}

#listas ol, ul{
  display: inline-block;
  margin-left: 10px;
}

#artigo {
  text-align: justify;
  display: inline-block;
  width: 30%;
  line-height: 25px;
  margin-left: 40px;
  font-size: 18px;
}
