body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0px;
    border: solid 5px;
}

#minha_foto {
    display: block;
    height: 300px; 
    margin-top: 100px;   
}

a {
    display: block;
}

#licoes_aprendidas {
    display: inline-block;
}

#licoes_a_aprender {
    display: inline-block;
}

#rodape {
    margin-top: 100px;
}

.container {
    width: 400px;
    display: flex;
    gap: 80px;
}


