body {
    background-color: rgb(253, 251, 251)
}

#cabecalho {
    position: fixed;
    top: 0px;
    background-color: #2F4F4F;
    color:rgb(253, 251, 251);
    width: 100%;
    text-align: center;

    }

#titulo {
    
}

#navegation {
    margin-top: 100px;
    display: inline-block;    
    position: fixed;
}

#minha_foto {
margin-top: 150px;
width: 250px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {


}

#article {

}

#aside {


}

#batman {
    width: 150px;
}

#rodape {
    

}

.redes_sociais {
    
}

