body {
    background-color: rgb(253, 251, 251);
    margin: 0;
  }

#cabecalho {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px 900px;
    top: 0px;
    position: fixed;
    border: dotted;
}

#minha_foto{
    border-radius: 10%;
    width: 250px;
}

.lado-esquerdo {
    margin-left: 60px;
    float: left;
    max-width: 35%;
    
}

lado-direito {
    margin-right: 60px;
    float: right;
    max-width: 35%;
    
}

.learning-title {
    line-height: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}


