body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
}

#cabecalho {
    background-color: blue;
    height: 90px;
    top: 0px;
    position: fixed;
    width: 100%;  
}

#titulo {
    text-align: center;
    margin-top: 10px; 
    padding-top: 0px;
    color: #fff;
}

#minha_foto {
    width: 160px;
    padding-top: 30px;
}

#licoes_aprendidas {
    
}

#licoes_a_aprender {
    
}

#display {
    display: inline-block;
}