body {
  background-color: rgb(253, 251, 251);
}

#titulo {
  color: rgb(206, 206, 206);
  width: 1024px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: red;
}

#minha_foto {
  width: 1000px;
}

#licoes_aprendidas {
  color: magenta;
}

#rodape {
  text-align: center;
  bottom: 0;
  background-color: red;
}
