body {
  background-color: rgb(253, 251, 251);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 1.5;
  color: black;
}

* {
  padding: 0;
  margin: 0;
}

.links {
  padding-top: 60px;
  padding-bottom: 15px;
padding-left: 25px;
}
#cabecalho {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 0px;
  background-color: azure;
}
#titulo {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
}
#dadosUsuario {
  border: 1px;
  width: 100%;
  height: 330px;
  background-color: white;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.77);
}
#coluna-1 {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-right: 30px;
}
#coluna-2 {
  height: 200px;
  width: 500px;
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
}
#item-baixo {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
#item-1 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 8px;
}
#item-2 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: center;
}
#minha_foto {
  height: 310px;
  border-radius: 50%;
  margin-top: 8px;
}
#licoes_aprendidas li {
  margin: 10px;
  line-height: 1;
}
#licoes_a_aprender {
  display: inline;
  padding: 15px;
}
#aAprender {
  margin-top: 20px;
}
#licoes_a_aprender li {
  display: inline;
}
#rodape {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.lado-esquerdo {
  display: inline-block;
  width: 40%;
}
.lado-direito {
  display: inline-block;
  margin-left: 30px;
  width: 40%;
}
.lado-esquerdo p {
  display: inline-block;
  margin: 10px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}
.lado-direito p {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}
#tabela {
  margin-top: 20px;
}
#colunas {
  display: inline-block;
  margin-top: 20px;
}
