body {
  margin: 0;
  background-color: rgb(253, 251, 251);
}

.negrito {
  font-weight: 600;
}

.header {
  display: block;
  position: fixed;
  background-image: linear-gradient(black, rgb(253, 251, 251));
  width: 100%;
  max-height: 36%;
  top: 0;
}

.header h1 {
  color: white;
  font-weight: 100;
  font-size: 3.3em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 6%;
  text-shadow: 2px 0 8px black;
}

.meus-links {
  display: block;
  text-align: center;
  font-size: 17px;
  text-shadow: 2px 0 8px black;
  padding-top: 2%;
}

.body-style {
  display: block;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 30%;
}

.lado-esquerdo {
  display: inline-block;
  max-width: 70%;
  margin-left: 10px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
  font-weight: 550;
  height: 50px;
}

article h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

article p {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 25%;
  font-family: Times, serif;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}

.image-container {
  display: inline-block;
}

.lado-direito {
  display: inline-block;
  float: right;
  max-width: 23%;
  border: 2px solid black;
  text-align: center;
  padding: 4px;
}

aside p {
  text-align: center;
}

#minha_foto {
  width: 90%;
  padding: 5px;
}

main {
  max-height: 80%;
}

ul,ol {
  margin-bottom: 15%;
}

.lista-esquerda {
  display: inline-block;
  position: relative;
  margin-right: 10%;
  padding-left: auto;
}

.lista-direita {
  display: inline-block;
  position: absolute;
  margin-left: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
}

.tabela {
  border: 2px solid black;
  border-collapse: collapse;
}

th,td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

footer {
  color: white;
  text-shadow: 2px 0 8px black;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(white, black);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 2%;
}

footer a {
  text-decoration: none;
  color: white;
}

.meus-links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 40px;
  padding: 8px;
}

footer a:hover {
  border: 1px solid white;
}

.meus-links a:hover {
  border: 1px solid white;
}
