body{
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0px;
    position: fixed;
    background-color: seagreen;
    width: 100%;

}

#minha_foto{
    width: 250px;
    padding-top:90px;
}

#licoes_a_aprender {
    display: inline-block;

}

#licoes_aprendidas{
    display: inline-block;
}

#aside_aprendizado{
    display: inline-block;
    float: right;
    width: 30%;
}