body {
    background-color: rgb(253, 251, 251);
}

header#cabecalho {
    position: fixed;
    top: 0px;
    background-color: green;
    width: 100%;
    height: 150px;
    margin: 0;
    
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
}

#minha_foto {
    margin-top: 150px;
    width: 200px;
    height: 200px;
    padding: 15px;
    padding-bottom: 0px;
}
p {
    padding-left: 15px;
    margin-top: 0px;
}
 #licoes {
     padding-left: 20px;
}

#licoes_aprendidas {
     padding-left: 60px;
}

#licoes_a_aprender {
    padding-left: 60px;
}