* {
    font-family: monospace, sans-serif;
}

body {
    background-color:  rgb(253, 251, 251);
    margin: 0;
    padding: 0;
}

#cabecalho {
    display: block;
    top: 0px;
    background-color: rgb(82, 82, 236);
}

#titulo {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: rgb(228, 227, 227);
}

.container_img {
    text-align: center;
}

#minha_foto {
    width: 200px;
    height: 200px;
    border-radius: 25% 0 25% 0;
}




