*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(253,251,251);
  font-size: 20px;
  font-family: 'Montserrat';
}
#cabecalho{
  position: fixed;
  top: 0px;
  background-color: green ;
  width: 100%;
  height: 100px;
  text-align: center;
}
#titulo{
  font-size: 40px;
  padding-top: 20px;
 
}
.lista-menu{
  position: absolute;
  right: 20px;
}
.lista-menu li{
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px 0 15px;
  font-weight: bolder;
}
.lista-menu li:hover{
  text-decoration: underline;

}
main{
  padding: 0 15px;
}

#minha_foto{
  display: inline-block;
  margin-top: 100px;
  border-radius: 100%;

}
.section-table{
  padding: 100px 0 0200px;
}

table{
  margin: auto;
  font-size: 20px;
  border: solid;
}
table td{
  padding: 50px;
  border: solid;

}
.section-textos h2{
  text-align: center;
  padding-bottom: 25px;
  color: green;
  line-height: 1.5em;

}

.section-textos{
  width: 100%;
  padding: 40px;
  text-align: justify;
  padding-bottom: 200px;
}
.lado-esquerdo{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: justify;
}
.lado-direito{
  display: inline-block;
  width: 30%;
  margin-left: 250px;

  vertical-align: top;
}

footer{
  background-color: green;
  text-align: center;
  font-size: 30px;
  

}
footer img{
  width: 50px;
  padding: 10px;
  padding-top: 30px;
}