body {
  background-color: rgb(253, 251, 251);
}

#titulo {
  color: rgb(206, 206, 206);
  width: 1024px;
}

#cabecalho {
  position: absolute;
  top: 0px;
  background-color: red;
}

.img {
  position: left;
}
