body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: medium;
  line-height: 20px;
}

main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  color: white;
  background-color: rgb(42, 95, 165);
  margin: auto;
  height: 25px;
  padding-bottom: 5px;
  padding-top: 10px;
  box-shadow: 0 2px 3px gray;
}

#nav_bar {
  margin: auto;
  width: 900px;
}

nav a {
  color: white;
  margin-right: 20px;
  font-weight: 900;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(0, 77, 150);
  width: 100%;
}

#titulo {
  text-align: center;
  color: white;
}

#minha_foto {
  display: block;
  margin: 150px auto 20px;
  border-radius: 50%;
}

.titulo_licoes {
  font-weight: 900;
  margin-left: -25px;
  color: rgb(0, 77, 150);
}

#section_licoes {
  text-align: center;
}

#section_licoes li {
  text-align: left;
}

.artigo_licoes {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

#secao_artigos {
  text-align: justify;
}

.lado_esquerdo {
  display: inline-block;
  width: 65%;
  margin-right: 20px;
  vertical-align: top;
  text-align: justify;
}

.titulo_artigo {
  color: rgb(0, 77, 150);
}

.lado_direito {
  display: inline-block;
  width: 30%;
  text-align: justify;
}

#rodape {
  background-color: rgb(0, 77, 150);
  height: 35px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 15px;
  margin: 0;
  color: white;

}
