body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position:absolute;
    background-color: darkgreen;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: inherit;
    border: inherit;
    top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 90px;
}

img {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 40%;
    border-color: brown;
    border-style: solid;
    top: 90px;
}

#licoes_aprendidas {
    position: absolute;
    top: 300px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#licoes_a_aprender {
    position: absolute;
    top: 300px;
    left: 320px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#rodape {
    position: absolute;
    bottom: 0px;
    font-family:'Courier New', Courier, monospace;

}

body {
    overflow:auto;
}
article {
    position: absolute;
    left: 500px;
    top: 327px;
    width: 420px;
    font-size: 13px;
    padding: 0%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color:darkslategrey;
    right: auto;
}

.menu {
    display:inline-block;
    position: absolute;
    top: 350px;
    left: 97px;
    font-size: 15px;
}

#sessao2 {
    position: absolute;
    top: 440px;
    left: 500px;
    width: 300px;
    font-size: 13px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    color: midnightblue;

}

aside {
    position: absolute;
    left: 498px;
    top: 40px;
    width: 150px;
    
}
#lucas {
    position: absolute;
    top: 300px;
    left: 94px;
}
.menu {
    position: fixed;
    top: 70px;
    left: 530px;
    
}
table {
    position: absolute;
    top: 130px;
    color: firebrick;
    width: 220px;
    left: 340px;
}