body {
    background-color: rgb(253, 251, 251);
}

#titulo {
    margin: 1px;
    font-family: monospace;
}

h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 2px;
}

nav {
    margin-top: 66px;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    padding-right: 10px;
}

#cabecalho {
    position: fixed;
    text-align: center;
    color: white;
    top: 0px;
    left: 0%;
    right: 0%;
    background-color: gray;    
}

#minha_foto {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

#licoes_aprendidas {
    line-height: 28px;
}

#licoes_a_aprender {
    line-height: 28px;
}

#rodape {
    background-color: gray;
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

aside {
    text-align: right;
    max-width: 50%;
}

table {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
  }

  th, td {
      padding-right: 5px;
      padding-left: 5px;
  }

  #google-fonts {
      display: block;
  }

  .lado-esquerdo {
      display: inline-block;
      max-width: 49%;
      margin-right: auto;
      margin-left: auto;
      vertical-align: top;
  }

  .lado-direito {
      display: inline-block;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      vertical-align: top;
  }