body * {
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(253, 251, 251);
  font-size: 20px;
}

/* HEADER */
#cabecalho {
  width: 1325px;
  margin: 10px;
  background-color: rgb(23, 141, 33);
  position: fixed;
}

h1 {
  color: rgb(253, 251, 251);
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(253, 251, 251);
  font-weight: bold;
  margin-left: 5vh;
}

/* IMAGE */
#minha_foto {
  margin-top: 200px;
  margin-left: 35px;
  width: 250px;
  border-radius: 5px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}
