body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.25;
    color: black;
}

#link-external {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: #fff;
}

#cabecalho {
    background-color: blue;
    height: 90px;
    top: 0px;
    position: fixed;
    width: 100%;  
}

#titulo {
    text-align: center;
    margin-top: 10px; 
    padding-top: 0px;
    color: #fff;
}

#minha_foto {
    width: 160px;
    padding-top: 30px;
}

.margin {
    margin-left: 20px;
}

#licoes_aprendidas {
    
}

#licoes_a_aprender {
    
}

#display {
    display: inline-block;
}

#rodape {
    background-color: rgb(136, 136, 231);
    font-weight: bold;
}

#section-aside {
    display: inline-block;
}

.lado-esquerdo {
    width: 50%;
    display: inline-block;
}

.lado-direito {
    width: 20%;
    display: inline-block;
    margin-left: 260px;
}

.tabela {
    border-color: blue;
}