body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(253, 251, 251);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 19px;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 30px;
    border-radius: 30px;
}

th, td {
    border: 1px solid black;
}

nav {
    background-color: #088A08;
    position: fixed;
    margin-top: 150px;
    padding: 10px;
    width: 100%;
    height: 25px;
}

.botao {
    color: #fff;
    margin-left: 30px;
    padding: 5px 15px;
    background-color: black;
    border-radius: 30px;
}

a.botao:hover {
    background-color: white;
    color: black;
}

#cabecalho {
    height: 150px;
    position: fixed;
    top: 0px;
    color: #fff;
    background-color: #0B3B0B;
    width: 100%;
}

#titulo {
    margin-top: 57px;
    text-align: center;
}

#artigo {
    padding: 15px;
    text-align: justify;
    border: 1px solid black;
    width: 50%;
    margin-top: 80px;
}

#passagem_aprendizado {
    padding: 15px;
    border: 1px solid black;
    width: 30%;
    margin-top: 80px;
}

#minha_foto {
    display: block;
    width: 250px;
    margin: auto;
    padding-top: 230px;
    padding-bottom: 20px;
}

#link_externo {
    text-align: center;
    margin-bottom: 50px;
}

#tabela {
    clear: both;
    text-align: left;
    width: 70%;
    border: 1px solid black;
    margin:auto;
}

#rodape {
    clear: both;
    text-align: center;
    background-color: #E6E6E6;
    margin-top: 60px;
    height: 40px;
}

#rodape p {
    font-size: 15px;
    padding-top: 7px;
}

.lado-esquerdo {
    float: left;
    margin-left: 20px;
    margin-bottom: 50px;
}

.lado-direito {
    float: right;
    margin-right: 50px;
}

.align {
    display: inline-block;
}