* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  font-size: 25px;
  line-height: normal;
  color: black;
  list-style-type: none;
  max-width: 1366px;
}

body {
  background-color: rgb(253, 251, 251);
}

ul {
  list-style-type: none;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: green;
  width: 100%;
  font-weight: 700;
  border-bottom: 2px solid;
}

h1 {
  font-style: italic;
  margin-left: 15px;
  text-decoration: underline;
}

nav ul {
  right: 0;
  top: 0;
  text-align: justify;
}

li a {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  padding: 2px;
  margin-right: 3px;
  float: left;
}

footer a {
  margin-left: 15px;
}

li a:hover {
  background-color: white;
}

#minha_foto {
  width: 185px;
  float: left;
}

.foto {
  margin-top: 74px;
  margin-left: 15px;
  display: inline-block;
}

.mylink {
  position: relative;
  text-decoration: none;
  margin: 40px;
}

.mylink:hover {
  background-color: rgb(105, 169, 226);
  font-style: italic;
}

hr {
  width: 100%;
  border: solid 1px;
}

main {
  height: 430px;
}

.table {
  float: left;
  margin: 15px;
}

table td {
  padding: 8px;
  text-align: center;
  border-bottom: solid 1px;
}

.lado-esquerdo {
  width: 45%;
  margin-left: 15px;
  text-align: justify;
  float: left;
  text-indent: 50px;
}

.lado-direito {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  width: 48%;
  text-align: justify;
  text-indent: 50px;
  top: 0;
}

#licoes_aprendidas {
  float: left;
}

#licoes_a_aprender {
  float: left;
}

#rodape {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: greenyellow;
}
