body {
  background-color: rgb(253, 251, 251);
}

#titulo {
  color: aliceblue;
  font-size: 180px;
  text-align: center;
}

#cabecalho {
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
}

#minha_foto {
  position: absolute;
  width: 500px;
  top: 500px;
  left: 1px;
}
