body {
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#cabecalho {
    position: fixed;
    top: 0px;
    width: 1366px;
    background-color: #307957;
    z-index: 100;
}

#titulo {
    text-align: center;
    color: #ffffff;
}

nav {
    text-align: center;
    background-color: #52b788;
}

nav a {
    display: inline-block;
    width: 10%;
}

#minha_foto {
    width: 250px;
    position: relative;
    top: 113.19px;
    left: 558px;
}

#link_perigoso {
    display: inline-block;
    position: relative;
    top: 128px;
    width: 100%;
    text-align: center;
}

#licoes {
    text-align: center;
    position: relative;
    top: 155px;
}

ol, ul {
    display: inline-block;
    line-height: 1.2em;
}

section {
    display: block;
    position: relative;
    top: 200px;
}

section h2 {
    text-align: center;
}

.lado-esquerdo {
    display: inline-block;
    position: absolute;
    left: 14.67%;
    width: 28%;
}

.lado-direito {
    display: inline-block;
    position: absolute;
    left: 57.33%;
    width: 28%;
}

#rodape {
    position: fixed;
    bottom: 0;
    background-color: #52b788;
    width: 100%;
    opacity: 0.92;
    border-top: 1px dashed black;
}

footer p {
    margin: 0;
    text-align: end;
    font-style: italic;
    font-size: 0.8em;
}