body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position        : fixed;
  top             : 0;
  background-color: rgb(130, 180, 223);
  width           : 100%;
  text-align      : center;
}

h2 {
  font-family: Courier, monospace;
  font-size  : 20px;
  color      : tomato;
  line-height: 30px;
}

img {
  padding-top: 5%;
}

article , section {
  width     : 40%;
  text-align: justify;
}

article {
  position: relative;
  left    : 0;
}

section {
  position: relative;
  right   : 0;
}

table {
  margin-top: 40px;
  border    : solid black 1px;
}

td {
  border: solid black 1px;
}
