body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0px;
    background-color: aquamarine;
    display: inline;
    width: 100%;
    text-align: center;
}

#minha_foto {
    display: inline-block;
    margin-top: 100px;
}