body {
  margin: 0;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  margin-top: 64px;
  width: 200px;
}

.lado-a-lado {
  width: 500px;
  padding: 10px;
  display: inline-block;
}

.lado-esquerdo {
  border: 1px black dashed;
}

.lado-direito {
  border: 1px black dashed;
}
