body{
    background-color: rgb(253, 251, 251);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.58em;
    color:#212529;
    margin-top: 0px;
}

#cabecalho{
    top: 0px;
    background-color: #0d1b2a;
    color: #fff;
    padding: 10px;
    text-align: center;    
}

#minha_foto{
    border-radius: 50%;    
}

img{
    width: 400px;
    margin-left: 40%;
    
}

.listas{
    display: block;  
    position:static;  
}

.aprendidas{
    float: left;
    margin-left:30%;    
}

.a-aprender{
    float: right;
    margin-right: 30%;
}

.lado-esquerdo{
    max-width: 40%;
    float: left;
    margin-left: 5%; 
    
   
}    

.lado-direito{
    float: right;
    max-width: 40%;
    margin-right: 5%;
    
     
}

.text-content{
    clear:both;
    height: 300px;
    background-color: #0d1b2a;
    color: #fff;    
    padding: 10px;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;

}
footer{
    clear: both;
    margin-top: 100px;  
    border: solid 1px; 
    padding: 10px;
    border-radius: 15px;
}

#assign{
    text-align: right;
    font-size: 14px;
    color: grey;

}

a {
    text-decoration: none;
    color: #58a6ff;
    font-weight: 400;
    font-weight: 700;
}
a:hover{
    color:#ff6600;
    text-decoration: underline;
    