body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: royalblue;
  width: 100%;
  left: 0;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 250px;
  padding-top: 60px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  background-color: lightgray;
}

#navegacao a {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

#navegacao a:link {
  color: white;
}

#navegacao a:visited {
  color: yellow;
}

#navegacao a:hover {
  color: red;
}
