body {
    background-color: rgb(253, 251, 251);
}

#titulo {
    margin: 5px;
}

a {
    color: white;
    padding-right: 12px;
}

#cabecalho {
    position: fixed;
    text-align: center;
    color: white;
    top: 0px;
    left: 0%;
    right: 0%;
    background-color: gray;    
}

#minha_foto {
    display: block;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

#licoes_aprendidas {
    line-height: 28px;
}

#licoes_a_aprender {
    line-height: 28px;
}

#rodape {
    background-color: gray;
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

aside {
    text-align: right;
    max-width: 50%;
}