body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  position: fixed;
  background-color:darkslategray;
  color: rgb(253, 251, 251);
  width: 100%;
  text-align: center;
}

#titulo {
  color: rgb(rgb(85, 85, 85), rgb(247, 247, 247), rgb(240, 240, 240));
}

#menu ul {
  background-color: whitesmoke;
  list-style: none;
  margin-top: 71px;
  position: fixed;
  width: 100%;
}

.icones-sociais li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 7px;
  width: 40px;
  height: inherit;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  background-color: whitesmoke;
  color: rgb(20, 18, 18);
  text-decoration: none;
  border-bottom: 3px solid whitesmoke;
  font-size: 20px;
  margin-left: 50px;
}

#navegation ul li {
  text-align: center;
  margin-left: 0 auto;
}

#minha_foto {
  margin-top: 150px;
  width: 250px;
  border-radius: 50%;
}

.aprendizagem {
  display: inline-block;
  width: 100%;

}

.main {
  width: 100%;
  border: solid 1px black;
}

.left {
  display: inline-block;
  width: 30%;
}

.right {
  display: inline-block;
  width: 30%;
}

.lado-esquerdo {
  border: solid 1px black;
  display: inline-block;
  width: 30%;
}

.lado-direito {
  display: inline-block;
  border: solid 1px black;
  width: 69%;
  vertical-align: top;
  height: auto;
  }

#batman {
  width: 150px;
}

#rodape {
  background-color: rgb(240, 233, 233);
  padding: 28px;
  color: rgb(20, 18, 18);
  font-size: 15px;
}

.table {
  text-align: right;
  margin-bottom: 10px;
}

