body {
  max-width: 1366px;
  line-height: 100vm;
  background-color: rgb(253, 251, 251);
  border: solid 1px  rgb(252, 238, 238);
}

main {
  max-width: 1366px;
  border: solid 1px  rgb(252, 238, 238);
  padding: 5px;
  margin: 0;
}

#cabecalho {
  background-color: rgb(4, 104, 4);
  position: fixed;
  top: 0;
  width: 100%;
  border: solid 1px  rgb(252, 238, 238);
  border-radius: 1px;
  height: 100px;
  margin-bottom: 15px;
}

#cabecalho h1 {
  color: aliceblue;
  text-align: center;
  font-size: 24px;
  font-family: Calibri, sans-serif;
  padding: 1px;
}

img {
  position: relative;
  max-width: 120px;
  margin-top: 1%;
  margin-left: 2%;
}

img:hover {
  margin-left: 85%;
}

.lista-ol {
  min-width: 100%;
  height: 210px;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(223, 238, 238);
}

ol {
  height: 200px;
  width: 40%;
  position: relative;
  left: 5px;
}

ol h2 {
  text-align: left;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
  padding: 5px;
  margin-top: 15px;
}

ol li {
  text-align: left;
  margin: 5px;
  margin-left: 20px;
  font-size: 10px;
  font-family: sans-serif, Arial;
  padding: 1px;
}

ul {
  height: 200px;
  width: 40%;
  position: absolute;
  top: 153px;
  right: 2%;
}

ul h2 {
  text-align: left;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
}

ul li {
  text-align: left;
  margin: 5px;
  margin-left: 20px;
  font-size: 10px;
  font-family: sans-serif, Arial;
  padding: 1px;
}

nav {
  background-color: rgb(231, 247, 246);
  margin: 5px;
  padding: 5px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-family: monospace;
}

nav a:hover {
  color: rgb(4, 20, 66);
  font-size: 13px;
  font-weight: 600;
  font-family: monospace;
}

.lado-esquerdo {
  float: left;
}

article {
  position: relative;
  background-color: rgb(253, 249, 247);
  left: 5px;
  width: 45%;
  height: 100px;
  padding: 5px;
}

article h3 {
  font-size: 13px;
  font-family: sans-serif, Arial;
  padding: 1px;
}

article p {
  font-size: 11px;
  font-weight: 600;
  font-family: sans-serif, Arial;
}

.lado-direito {
  float: right;
}

aside {
  position: absolute;
  background-color: rgb(253, 249, 247);
  width: 48%;
  right: 2%;
  height: 100px;
  padding: 5px;
}

aside h3 {
  font-size: 13px;
  font-family: sans-serif, Arial;
  padding: 1px;
}

aside p {
  font-size: 11px;
  font-weight: 600;
  font-family: sans-serif, Arial;
}

table label {
  display: inline;
  width: auto;
  background-color: blueviolet;
  position: fixed;
}

