/* * {
    margin: 0;
    padding: 0;
} */

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0px;
  background-color: green;
}

#titulo {
  color: #fff;
  font-weight: 700;
}

#minha_foto {
    position:absolute;
    top: 100px;
    width: 120px;
    border-radius: 50%;
}

#licoes_aprendidas {
    position: absolute;
    top: 300px;
}

#licoes_a_aprender {
    position: absolute;
    top:300px;
    left: 150px;
}

#rodape {
    position: absolute;
    bottom: 10px;
}
/* 
#link {
    position: absolute;
    top: 270px;
    left: 25px;
    font-size: 15px;
} */

#main-article {
    position: absolute;
    width: 300px;
    top: 550px
}

#small-article {
    position: absolute;
    width: 300px;
    top: 550px;
    left: 400px;
}