body {
		background-color: rgb(253, 251, 251);
}

#cabecalho {
		position: fixed;
		top: 0;
}

.licoes-aprendidas li {
		list-style-type: none;
}

table , th , td {
		border: 1px solid black;
}

table {
		border-collapse: collapse;
}

.lado-esquerdo , .lado-direito {
		width: 40%;
		display: inline-block;
}
