* {
  font-family: sans-serif;
}

body {
    background-color: rgb(253, 251, 251);
}

@font-face {
  font-family: 'Caveat', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Caveat&display=swap);
}

header {
  background-color: rgb(224, 142, 7);
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 150px;
  color: black;
  font-family: 'Caveat', cursive;
}

#titulo {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 60px;
  margin-bottom: 10px;

}

.main {
  margin-top: 40px;
}

#nav a{
  display: inline;
  margin-left: 2px;
  letter-spacing: 4px;
  text-decoration: none;
  color: azure;
}

#minha_foto {
  width: 200px;
  border-radius: 100%;
  margin-top: 150px;
  margin-bottom: 0;
  border-width: 10%;
  border-radius: 100%;
  border-color: black;
  border-style: solid;
}

 #licoes_aprendidas , #licoes_a_aprender {
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  margin-bottom: 25px;
  border-style:inset;
  padding: 2%;
  background-color: #ebe7e7;;
}

#logo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));  
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 220px;
  bottom: 0;
  opacity: 0.2;
  left: 0;
  right: 0;
  padding-left: 400px;
  width: 600px;
  margin: 0;
} 
 
.bgName {
  position: relative;
  font-family: 'Caveat', cursive;
  opacity: 0.3;
} 

#LinkTrybe {
  font-size: 12px;
  margin-left: 15px;
  color:rgb(224, 142, 7);
  text-decoration: none;
}

.artigos {
  border-style:inset;
  width: 100%;
  padding: 5%;
  letter-spacing: 1px;
  border-color:rgb(255, 183, 68);
  background-color:whitesmoke ;
  text-indent: 1ch;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  width: 350px;
  height: 200px;
  border-style:ridge;
  text-align: justify;
  padding:10px;
  background-color:rgb(207, 178, 131);

}

aside {
  margin-left: 50px;
}

a {
  text-decoration: none;
}

#foGoTrybe {
  position: relative;
  width: 175px;
  float: right;
  top: 40px;
}

footer {
  font-size: small;
  background-color:rgb(224, 142, 7);
  color: azure;
}  