body {
    background-color: rgb(253, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    color: rgb(253, 251, 251);
    background-color: darkgreen;
    position: fixed;
    letter-spacing: 5px;
    margin-right: 35%;
}

#licoes_aprendidas {
    display: inline;
    padding: 10px;
    margin: 10px;
}

img {
    margin-top: 170px;
    width: 100px;
}

/n