body {
  background-color: rgb(253, 251, 251);
  padding: 100px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(108, 202, 108);
  width: 80%;
  text-align: center;
}

h1 {
  text-align: center;
  line-height: 5px;
}

p {
  text-align: justify;
}

.minha_foto {
  width: 200px;
  margin-left: 40%;
}
