body {
    background-color: rgb(253, 251, 251);
}

header {
    background-color: rgb(211, 211, 211);
    text-align: center;
    top: 0px;
    position: fixed;
    left: 0px;
    width: 1040px;
    height: 150px;
    color: rgb(105, 105, 105);
}

img {
    width: 200px;
    position: fixed;
    top: 160px;
    border-radius: 100%;
}
div {
 margin-top: 400px;

}



