body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0px;
}
img {
    width: 300px;
    border-radius: 8px;
    margin: 10px;
}
ul li {
    list-style-type: square;
}

footer {
    margin: 10px;
}