body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(175, 173, 173);
  width: 100%;
  height: 100px;
  z-index: 100;
}

#titulo {
  margin: 0;
  padding: 30px;
  display: inline-block;
}

nav {
  display: inline-block;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  background-color: rgb(95, 95, 95);
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}

a:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(253, 251, 251);
  transition: 1s;
}

.imagem {
  display: inline-block;
  position: relative;
  top: 120px;
  left: 30px;
}

#minha_foto {
  border-radius: 8%;
  width: 250px;
}

.lista {
  display: inline-block;
  position: relative;
  left: 50px;
  top: 120px;
  padding: 0px 10px;
  border: 1px solid;
}

#licoes_aprendidas #licoes_a_aprender {
  font-size: 18px;
}

#rodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(175, 173, 173);
  padding: 10px 0px 10px 30px;
}

.artigo1 {
  position: relative;
  top: 150px;
  left: 30px;
  width: 95%;
}

aside {
  position: relative;
  top: 150px;
  left: 30px;
  width: 95%;
}