body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  background-color: rgb(3, 107, 82);
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  height: 50;
}

#titulo {
  margin-left: 13em;
}

#minha_foto {
  position: absolute;
  border-radius: 10px;
  top: 90px;
  left: 2px;
  width: 290px;
  height: 340px;
}

#links {
  position: absolute;
  top: 445px;
  left: 2px;
  width: 10px;
  height: 20px;
}

#licoes_aprendidas {
  position: absolute;
  background-color: rgb(31, 178, 90);
  border-radius: 10px;
  color: white;
  top: 90px;
  left: 300px;
  width: 290px;
  height: 420px;
  list-style-position: inside;
}

#licoes_a_aprender {
  position: absolute;
  background-color: rgb(3, 107, 82);
  border-radius: 10px;
  color: white;
  top: 90px;
  left: 598px;
  width: 290px;
  height: 420px;
  list-style-position: inside;
}

#rodape {
  background-color: rgb(3, 107, 82);
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 520px;
  left: 10px;
  right: 10px;
  height: 44px;
  text-indent: 900px;
}
