body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(253, 251, 251);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 19px;
    line-height: 28px;
}

#cabecalho {
    height: 150px;
    position: fixed;
    top: 0px;
    color: #fff;
    background-color: #0B3B0B;
    width: 100%;
}

#titulo {
    text-align: center;
}

#artigo {
    padding: 15px;
    text-align: justify;
    border: 1px solid black;
    max-width: 50%;
}

#passagem_aprendizado {
    border: 1px solid black;
    max-width: 30%;
}

#minha_foto {
    display: block;
    width: 200px;
    margin: auto;
    padding-top: 160px;
    padding-bottom: 20px;
}

#link_externo {
    text-align: center;
}

#licoes_aprendidas {
    
}

#licoes_a_aprender {

}

#rodape {
    text-align: center;
}