body{
    background-color: rgb(253, 251, 251);
}

#cabeçalho {
      background-color: green;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      color: white;
}
h1 {
      text-align: center;
}
body{
    background-color: rgb(253, 251, 251);
body {
  background-color: rgb(253, 251, 251);
}

#cabeçalho {
      background-color: green;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      color: white;
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}

h1 {
      text-align: center;
} 