body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    text-align: center;
    color: white;
    top: 0px;
    left: 0%;
    right: 0%;
    background-color: gray;    
}

#minha_foto {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

#licoes_aprendidas {
    line-height: 28px;
}