body {
  background-color: rgb(253, 251, 251);
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(228, 89, 65);
  height: 150px;
  width: 100%;
  text-align: center;
}

main {
  margin: 100px;
  padding: 100px;
  border: 100px;
}

.img {
  width: 250px;
  border-radius: 30%;
}

.lado-esquerdo {
  display: inline-block;
  width: 40%;
}

.lado-direito {
  display: inline-block;
  width: 40%;
}

article , aside {
  margin-left: 80px;
  margin-right: 10px;
  line-height: 20px;
  font-size: 20px;
}

table , th , td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

footer {
  background-color: rgb(228, 89, 65);
  height: 50px;
  width: 100%;
  text-align: center;
}
