* {
    margin: 0;
    max-width: 1366px;
    max-height: 768px;
    }

body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
}
#cabecalho {
    width: 1366px;
    height:100px;
    border: 0px;
    background-color:rgb(6, 151, 54);
    top: 0px;
    position: fixed;
} 

#titulo {
    color:rgb(253, 251, 251);
    text-align: center;
    margin-top: 30px;
}

#minha_foto {
    position: absolute;
    top: 120px;
    border:5px solid  rgb(6, 151, 54) ;
    border-radius: 5%;
}

#licoes_aprendidas {
    list-style:decimal;
    display: inline-block;
    position: absolute;
    top: 185px;
    left: 200px;
}

#rodape {
    width: 1366px;
    height:100px;
    border: 0px;
    top: 600px;
    background-color:rgb(6, 151, 54);
    position: absolute;
}

#nav {
    position: absolute;
    top: 450px
}

#artigo1 {
    position:absolute;
    top: 500px;
}

#secao1 {
    position: absolute;
    top: 560px;
}