body {
  font: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: seagreen;
  width: 100%;
}

#titulo {
  color: rgb(58, 31, 12);
  text-align: center;
}

#principal {
  margin: 100px 15px;
  margin-top: 100px;
}

#minha_foto {
  height: 300px;
  border-radius: 40%;
}

a {
  text-decoration: none;
  color: blue;
}
a
:hover {
  color: black;
  opacity: 0.4;
}

section {
  margin: 20px;
  height: auto;
}

.lado-esquerdo {
  display: inline-block;
  margin-right: 50px;
}

.lado-direito {
  display: inline-block;
}

article {
  line-height: 23px;
  display: inline-block;
  width: 50%;
}

aside {
  line-height: 23px;
  display: inline-block;
  width: 49%;
  height: auto;
}

h3 {
  margin: 0;
  text-align: right;
  padding: 6px 20px;
}

#rodape {
  height: auto;
  bottom: 0;
  background-color: seagreen;
  color: aliceblue;
}
