*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    background-color: #D3D3D3;
    position: fixed;
    top:0px;
    width: 100%;
    height: 100px;

}

#titulo{
    color: #204a6b;
    font-weight: 900;
    text-align: center;
    margin-top: 25px;
}

#minha_foto{
    border-radius: 100px; 
    width: 200px; 
    height: 200px;
    margin: auto;
    top:20%;
    left: 40%;
    position: absolute;
    
}

#licoes_aprendidas{
    color: black;
    top:65%;
    left: 20%;
    position: absolute;
    font-size: 17px;
}

h3{
    color: #204a6b;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    border: #D3D3D3;
    border-style: groove;
}

li:hover{
    border-width: 1px;
    background-color: #204a6b;
    color: #E3805A;
}


