* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  top: 0;
  position: fixed;
}

#minha_foto {
  width: 100px;
}

.licoes {
  margin-left: 50px;
}

ol #licoes_aprendidas {
  list-style-type: decimal;
}