body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: green;
  width: 100%;
  height: 150px;
  margin: 0;
}

#titulo {
  color: rgb(253, 251, 251);
  text-align: center;
}

#minha_foto {
  margin-top: 150px;
  width: 200px;
  height: 200px;
  padding: 15px;
  padding-bottom: 0;
}

p {
  padding-left: 15px;
  margin-top: 0;
}

nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  color: rgb(253, 251, 251);
}

a:hover {
  background-color: darkgreen;
  color: lightcyan;
}

#licoes {
  padding-left: 20px;
}

#licoes_aprendidas {
  padding-left: 60px;
}

#licoes_a_aprender {
  padding-left: 60px;
}

#rodape {
  background-color: lightgray;
  height: 50px;
  margin: 0;
}

#rodape p {
  padding-top: 15px;
}

.listas div {
  display: inline-block;
}

.meu-aprendizado h3 {
  text-align: center;
  background-color: lightgray;
}

.lado-esquerdo {
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: dotted;
  border-color: black;
  border-width: 2px;
  width: max-content;
  margin-left: 100px;
}

.lado-esquerdo p {
  text-align: left;
  margin: 5px;
  width: 450px;
}

.lado-direito {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: dotted;
  border-color: black;
  border-width: 2px;
  width: max-content;
  margin-left: 200px;
}

.lado-direito p {
  text-align: left;
  margin: 5px;
  width: 400px;
}

.textos article , section {
  display: inline-block;
}
