body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  position: fixed;
  top: 0px;
  background-color: green;
  width: 100%;
  height: 150px;
}
#titulo {
  color: white;
  text-align: center;
}

#minha_foto {
  width: 300px;
  margin-top: 160px;
  border: 1px solid black;
  border-radius: 2%;
}
#licoes_aprendidas {


}
#licoes_a_aprender{

}
#rodape{


}

nav ul li{
    list-style-type: none;

}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
}

.tabela{

    margin-bottom: 15px;
}


