body {
  background-color: rgb(253, 251, 251);
  font-family: Courier, monospace;
}

#cabecalho {
  position: fixed;
  top: 0;
  color: rgb(89, 171, 163);
}

#minha_foto {
  margin-top: 50px;
  width: 20%;
  height: 20%;
}

.lista {
  height: 25%;
  width: 25%;
  display: inline-block;
  color: rgb(41, 131, 139);
}

nav {
  display: block;
}

td , th {
  border: 1px solid;
  letter-spacing: 1px;
  line-height: 1 , 5cm;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: violet;
}

.lado-esquerdo {
  background-color: purple;
  width: 50%;
}

.lado-direito {
  background-color: yellow;
  width: 30%;
  margin-left: 10%;
}
