body{
    background-color: rgb(253, 251, 251);
}
img {
  width: 300px;
  border-radius: 8px;
  margin: 10px;
  display: block;
}

#cabecalho{
  background-color: blue;
  z-index: 2 ;
  width:100% ;
  position: fixed;
  top: 0;
}

h1{
padding:5px;
border:green solid 2px;
font: size 3em;
color:blue
font-family:monospace;
}

p{
  line-height: 3;
}


#titulo {
  text-align: center;
}
main{
  margin-top:90px
}



#licoes_aprendidas , #licoes_a_aprender{
  display:inline-block;
  
}




