body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  top: 0px;
  position: fixed;
  background-color: seagreen;
  width: 100%;
}

#titulo {
  color: rgb(58, 31, 12);
  text-align: center;
}

#principal {
  margin: 100px 10px;
  margin-top: 100px;
}

#minha_foto {
  height: 300px;
  border-radius: 40%;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}