* {
background-color: rgb(253, 251, 251);
}

#cabecalho {
top: 0;
position: fixed;
}

#licoes_aprendidas {
    margin-top: 75px;
    margin: 10px;
    padding: 10px;
    border: 10px;
}

#licoes_a_aprender {
  margin: 10px;
  padding: 20px;
  border: 20px;
}

.lado-esquerdo {
  display: inline-block;
}

.lado-direito {
  display: inline-block;
}