body {
    background-color: rgb(253,251,251);
    margin: 0px;
}

main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#cabecalho {
    position:fixed;
    top:0px;
    background-color: sandybrown;
    width: 100%;
}

#titulo {
text-align: center;
color: brown;
}

#minha_foto {
    display:block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 50%;

}

.titulo_licoes {
    font-weight: bold;
    margin-left: -25px;
    color: brown;
}

#section_licoes {
    margin: auto;
    text-align: center;
}

#section_licoes li {
    text-align: left;
}

.artigo_licoes {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

#secao_artigos {
    margin: auto;
    text-align: justify;
}

#sobre_mim {
    color: brown;
    text-align: center;
}

#rodape {
    background-color: brown;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    margin: 0px;
    ;
}

#rodape a {
    color: white;
}

