body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho {
  position: fixed;
  text-align: center;
  top: 0;
  background-color:rgb(12, 161, 211);
  width: 100%;
}

#titulo {
  color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  color: rgb(22, 30, 99);
}

h3 {
  margin: 0;
  padding: 10px;
}

#minha_foto {
  height: 250px;
  margin-top: 130px;
  margin-left: 30px;
  border: 3px solid white;
  border-radius: 10%;
  display: inline-block;
}

.lado-esquerdo {
  text-align: justify;
  display: inline-block;
  width: 25%;
  line-height: 25px;
  margin-left: 95px;
  font-size: 18px;
}

.lado-direito {
  display: inline-block;
  width: 15%;
  line-height: 25px;
  margin-left: 95px;
  font-size: 18px;
}

#list {
  display: inline-block;
  width: 100%;
  margin-left: 200px;
  line-height: 25px;
}

article {
  line-height: 22px;
  display: inline-block;
  width: 48%;
}

table {
  border-width: 3px;
  border-style: double;
  border-color: rgb(12, 161, 211);
}

th {
  border-bottom-style: solid;
}

#rodape {
  width: 100%;
  bottom: 0;
  height: auto;
  text-align: center;
  background-color: rgb(12, 161, 211);
}
