* {
  font-family: sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Caveat, cursive;
  src: url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
}

header {
  background-color: rgb(224, 142, 7);
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 140px;
  color: black;
  font-family: Caveat, cursive;
}

#titulo {
  text-align: center;
  font-family: Caveat, cursive;
  font-size: 60px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

#nav a {
  display: inline;
  margin-left: 2px;
  letter-spacing: 4px;
  text-decoration: none;
  color: azure;
  bottom: 10px;
}

.main {
  margin-top: 40px;
}

#minha_foto {
  width: 200px;
  border-radius: 100%;
  margin-top: 150px;
  margin-bottom: 0;
  border-width: 10%;
  border-color: black;
  border-style: solid;
}

.licoes {
  height: 24rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#licoes_aprendidas , #licoes_a_aprender {
  display: inline-block;
  width: 250px;
  height: 250px;
  font-size: 12px;
  line-height: 2;
  margin-bottom: 25px;
  border-style: inset;
  box-shadow: 10px 10px 50px rgb(0, 0, 0, 0.2);
  padding: 30px;
  background-color: gainsboro;
  text-align: center;
}

#logo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 220px;
  bottom: 0;
  opacity: 0.2;
  left: 0;
  right: 0;
  padding-left: 400px;
  width: 600px;
  margin: 0;
}

.bgName {
  position: relative;
  font-family: Caveat , cursive;
  opacity: 0.3;
}

#LinkTrybe {
  font-size: 25px;
  color: rgb(224, 142, 7);
  text-decoration: none;
  margin-left: 770px;
}

.artigos {
  display: flex;
  justify-content: space-around;
  border-style: inset;
  width: 89%;
  padding: 5%;
  letter-spacing: 2px;
  border-color: rgb(255, 183, 68);
  background-color: whitesmoke;
  text-indent: 1ch;
  margin: 0;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  box-shadow: 10px 10px 50px rgb(0, 0, 0, 0.2); /* usei essa estilização me baseando no projeto de Antenor Zapata */
  border-style: ridge;
  text-align: justify;
  padding: 10px;
  background-color: rgb(207, 178, 131);

}

.lado-esquerdo {
  margin-top: 3.5rem;
  width: 60%;
  height: 10rem;

}

.lado-direito {
  width: 20%;

}

aside {
  margin-left: 50px;
}

#foGoTrybe {
  position: fixed;
  width: 50px;
  top: 560px;
  right: 10px;
}

table , .credits th {
  display: flex;
  color: rgb(219, 161, 0);
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: small;
  background-color: rgb(224, 142, 7);
  color: azure;
  width: 100%;
  text-align: center;
  margin-right: 20px;
}
