body {
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: inline-block;
}

nav, #titulo {
  vertical-align: center;
  display: inline-block;
}

#titulo {
  text-align: center;
  color: white;
}

#cabecalho {
  position: fixed;
  width: 100vw;
  background-color: green;
  top: 0;
}

#minha_foto {
  margin-top: 79.88px;
}

.lado_esquerdo, .lado_direito {
  width: 49.8%;
  display: inline-block;
  margin: auto;
  text-align: center;
  vertical-align: top;
}
