body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

#cabecalho {
  background-color: rgb(3, 107, 82);
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  height: 50;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  display: inline-block;
}

#titulo {
  margin-left: 13em;
}

#artigos {
  position: absolute;
  border-radius: 10px;
  top: 90px;
  left: 5000px;
  width: 290px;
  height: 340px;
}

#minha_foto {
  position: absolute;
  border-radius: 10px;
  top: 86px;
  left: 2px;
  width: 270px;
  height: 320px;
}

#logo_trybe {
  position: absolute;
  border-radius: 10px;
  top: 310px;
  left: 1085px;
  width: 260px;
  height: 223px;
}

#apresentacao {
  position: absolute;
  border-radius: 10px, 10px, 0, 0;
  background-color: rgb(46, 193, 139);
  color: black;
  font-family: monospace;
  top: 380px;
  left: 2px;
  width: 266px;
  height: 107px;
  padding-left: 5px;
}

.lado-esquerdo {
  position: absolute;
  border-radius: 10px;
  background-color: rgb(31, 178, 90);
  color: black;
  font-family: monospace;
  line-height: 1.5;
  top: 87px;
  left: 815px;
  width: 252px;
  height: 447px;
  padding-left: 10px;
}

.lado-direito {
  position: absolute;
  border-radius: 10px;
  background-color: rgb(46, 193, 139);
  color: black;
  font-family: monospace;
  line-height: 1.5;
  top: 87px;
  left: 1085px;
  width: 250px;
  height: 240px;
  padding-left: 10px;
}

#links {
  position: absolute;
  top: 87px;
  left: 2px;
  width: 10px;
  height: 20px;
}

#licoes {
  color: white;
}

#licoes_aprendidas {
  position: absolute;
  background-color: rgb(31, 178, 90);
  border-radius: 10px;
  font-size: medium;
  top: 72px;
  left: 280px;
  width: 220px;
  height: 447px;
  list-style-position: inside;
}

#licoes_a_aprender {
  position: absolute;
  background-color: rgb(3, 107, 82);
  border-radius: 10px;
  font-size: medium;
  top: 71px;
  left: 547px;
  width: 220px;
  height: 447px;
  list-style-position: inside;
}

#tabela {
  position: absolute;
  background-color: rgb(46, 193, 139);
  border-radius: 10px;
  color: black;
  top: 480px;
  left: 2px;
  width: 271px;
  height: 55px;
  font-family: monospace;
  list-style-position: inside;
  text-align: left;
  padding-left: 5px;
}

#rodape {
  background-color: rgb(3, 107, 82);
  border-radius: 10px;
  font-size: x-small;
  position: fixed;
  top: 540px;
  left: 10px;
  right: 10px;
  height: 35px;
  text-indent: 1070px;
}
