* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(253, 251, 251);
}

header{
    background-color: green;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
}

#titulo{
    font-size: 25px;
    padding-top: 20px;
}

.headernav{
    list-style-type: none;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
}