body {
  background-color: rgb( 253, 251, 251);
  font-family: fantasy;
}

header {
  top: 0;
  position: fixed;
  background-color: seagreen;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

nav {
  position: fixed;
  margin-top: 80px;
}

img {
  margin-top: 100px;
}

section ol , ul {
  display: inline-block;
  text-align: justify;
  margin-top: auto;
  padding: 5px 50px 30px;
}

section h2 {
  margin-left: 40px;
}

.lado-esquerdo h3 , .lado-direito h3 {
  padding-right: 25px;
}

.lado-esquerdo , .lado-direito {
  border: 1px solid black;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
}

.lado-esquerdo {
  padding: 20px;
  text-align: justify;
  max-width: 50%;
  display: inline-flex;
  margin: 20px;
}

.lado-direito {
  padding: 20px;
  text-align: justify;
  max-width: 30%;
  display: inline-flex;
}

table , tr , td {
  border: 1px solid black;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
}
