body {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

#cabecalho h1 {
  font-weight: bold;
  margin-left: 50px;
  margin-top: 30px;
  float: left;
  font-size: 25px;
}

strong {
  color: green;
}

.menu ul {
  list-style: none;
  float: right;
  margin-top: 35px;
  margin-right: 50px;
}

.menu ul li {
  display: inline;
  padding: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
