/*Zerando Formatações Padrão*/

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:black
}

/*Estilos Gerais*/

main {
    background: rgb(253, 251, 251);
}

h1, h2 , h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*Estilos - Cabeçalho e Menu de Navegação*/



#cabecalho{
    border: 1px solid red;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    background: url(imagens/bg-cabecalho.jpg);
    box-shadow: 5px 5px 5px gray;
    z-index: 1;
    
    

}

#titulo {
    color: #fff;
    text-shadow: 2px 2px 2px gray;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    
}


#menu ul {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    line-height: 30px;
    z-index: 2;
    list-style: none;
       
}

#menu ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 30px;
    text-shadow: 4px 4px 4px gray;
    

    
}

#menu ul li a {
    color: #fff;
    border-radius: 100px;
    padding: 8px 10px;
    
        
}

#nav-list a:hover {
    background: white;
    color: black;
    text-shadow: 2px 2px 2px gray;


}


#img-perfil {
    text-align: center;
}



#img-perfil img {
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.105);
    box-shadow: 3px 3px 3px gray;
    margin-top: 100px;
    
}


/*Estilos - Lições Aprendidas*/
