body {
	background-color: rgb(253, 251, 251);
}

#cabecalho {
	position: fixed;
	top: 0;
}

img {
	width: 300px;
	border-radius: 8px;
	margin: 10px;
}

ul li {
  list-style-type: square;
}

footer {
  margin: 10px;
}

h1 {
	padding: 5px;
	border: red solid 2px;

	font-size: 3em;
	color: green;
	font-family: monospace;   
}

p {
  line-height: 2;
}

.lado-direito, .lado-esquerdo {
	display: inline-block;
	margin: 10px;
	width: 40%;
}