*{
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Tahoma, sans-serif;
}

#cabecalho {
  position: fixed;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: red;
}

.name {
  padding-top: 60px;
}
