*{
    background-color:rgb(253, 251, 251);
    margin: 0%;    
}
#title{
    position: fixed;
    background-color: rgb(55, 140, 236);
    top:0px;
    padding: 30px 500px;
    margin: 10px;
    color: white;
    text-align: center;
}
.link a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 150px;
    color: teal;
 }
#minha_foto{
    width: 150px;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 400px;   
}
section h2{
    text-align: center;
    padding: 10px;
}
 #licoes_aprendidas li{
    font-family: fantasy;
    background-color: rgb(88, 150, 150);
    font-style: italic;
    max-width: 200px;
    padding: 5px;
} 
 #licoes_a_aprender li {
    font-family: fantasy;
    background-color: rgb(5, 59, 59);
    font-style: italic;
    max-width: 200px;
    padding: 5px;
}
.lado-esquerdo { 
    float: left;
    padding-top: 20px;
    max-width: 500px;
    padding-top: 5px;
    border-style: dotted ;
    background-color: rgb(71, 145, 255);
    border-color: rgb(250, 255, 255) ;
    margin: 30px 40px;
    text-align: justify;
}
.lado-esquerdo h3{
    background-color: cornflowerblue;
    padding: 5px;
    text-align: center;
    font-style: italic;
}
.lado-direito{
    float: right;
    padding-top: 5px;
    padding-top:20px ;
    max-width: 500px;
    min-height: 125px;
    background-color: rgb(101, 175, 180);
    border-style: dotted;
    border-color: cornsilk;
    margin: 30px 40px;
    text-align: justify;
}
.lado-direito h3{
    background-color: rgb(92, 189, 189);
    text-align: center;
    font-style: italic;
    padding: 5px;
}
footer {
    clear: both;
    padding: 10px;
    background: rgb(15, 60, 61);
    padding: 20px;
    margin: 30px;
}
footer a{
    text-decoration:none;
    font-size: 20px;
    color: white;
    background-color:rgb(15, 60, 61);
}
section td{
    color: teal;
}