body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position        : fixed;
  top             : 0;
  background-color: rgb(130, 180, 223);
  width           : 100%;
  text-align      : center;
}

h2 {
  font-size  : 19px;
  color      : rgb(139, 74, 63);
  line-height: 29px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  padding-top: 5%;
}

article , section {
  width     : 40%;
  text-align: justify;
  display   : inline-block;
  margin    : 1%;
  font-size  : 15px;
  color      : rgb(106, 167, 49);
  line-height: 17px;
  font-family: 'Courier New', Courier, monospace;
}

div {
  height    : 200px;
  display   : inline-block;
  text-align: center;
}

table {
  margin-top: 40px;
  border    : solid black 1px;
}

td {
  border: solid black 1px;
}

aside {
  width       : 10%;
  text-align  : justify;
  margin-right: 2%;
  position    : relative;
  right       : 0;
  display     : inline-block;
}
