* {
  background-color: rgb(253, 251, 251);
  top: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
  background-color: seagreen;
  text-align: center;
  padding: 25px 200px;
  position: fixed;
  margin-top: 0px;
}

img {
  margin-top: 90px;
}

ul {
  display: inline-block;
  color: rgb(23, 66, 50);
}

ol {
  display: inline-block;
  color: rgb(23, 66, 50);
}

p {
  width: 350px;
  border: solid 1px;
  text-align: justify;
  padding: 10px;
  color: rgb(23, 66, 50);
}

article {
  display: inline-block;
}

aside {
  display: inline-block;
}
