body{
    background-color: rgb(253,251,251);
    margin-left: 55px;
}

nav{
    margin-left: 20px;
    margin-top: 64px;
    /* background-color: #a98acc; */
    box-shadow: inset 5px 5px 2px 0px #a98acc;

}

a{
    display: inline-block;
   margin-left: 10px;
   padding-top: 5px;
}

aside {
        margin-top: 31px;
        width: 40%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
        box-shadow: inset 5px 5px 2px 0px #a98acc;
        font-style: italic;
        color:slategray;
        /** Source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside */
    }
    

aside > p {
        margin: .5rem;

    }
    


#cabecalho{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    background-color:#a98acc;
}

#cabecalho h1{
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#minha_foto{
    margin-left: 20px;
    margin-top: 30px;
}

section{
    /* margin-left: 20px;
    margin-right: 300px;
   background-color: rgb(230, 230, 240); */
}
