* {
		margin: 0;
		padding: 0;
}

body { background-color: rgb(253, 251, 251);}

#cabecalho {
	position: fixed;
	top: 0;
	width: 100%;
	height: 150px;
	background-color: green;
	font-family: Times New Roman, Times, serif;
	color: white;
	text-align: center;
}

figure {
	margin-top: 170px;
	margin-left: 20px;
}

#minha_foto {
	border-radius: 10px;
	width: 250px;
}

section {
	margin: 20px;
}

h2 {
	margin-left: -30px;
	margin-bottom: 30px;
}

ol {
	margin: 35px;
	display: inline-block;
}

ul {
	margin: 35px;
	display: inline-block;
}

article {
	display: inline-block;
	margin: 10px;
	width: 385px;
	height: 180px;
	border-style: dotted;
	border-width: thin;
}

aside {
	display: inline-block;
	margin: 10px;
	width: 385px;
	height: 100%;
	border-style: dotted;
	border-width: thin;
}

h3 , p { margin: 10px; }

p { text-align: justify;}

footer { margin-left: 20px;}