body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: tomato;
  width: 100%;
  position: fixed;
  top: 0;
}

header h1 {
  margin: auto;
  padding-left: 15px;
}

aside {
  width: 30%;
  float: right;
  padding-top: 40px;
}

nav {
  padding-top: 30px;
}

nav li {
  display: inline;
  font-size: 30px;
  background-color: slategrey;
  padding: 0 40px;
  margin: 0 10px;
}

#minha_foto {
  width: 300px;
}
