body {

    margin:  0;
}

.header {

    display: block;
    position: fixed;
    background-color: rgb(214, 214, 214);
    width: 100%;
    max-height: 40%;
    top: 0px;

}

.header h1 {

    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}

.body-style {

    display: block;
    background-color: rgb(253, 251, 251);
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 30%;

}

.artigo {

    display: inline-block;
    max-width: 70%;
    margin-left: 10px;

}

.artigo h2 {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.artigo p {

    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
}

.image-container {

    display: inline-block;

}

.barra-lateral {

    display: inline-block;
    float: right;
    max-width: 23%;
    border: 2px solid black;
    text-align: center;
    padding: 4px;

}

.barra-lateral p {

    text-align: left;
}

#minha_foto {

    width: 90%;
    padding: 5px;

}

main {

    max-height: 80%;
    border: 2px solid black;
}

footer {

    height: 50px;
    background-color: rgb(214, 214, 214);
    text-align: center;
    padding-top: 40px;
}

ol {

    display: block;
   
}

ul {

    display: block;
    float: center;
}